# 基于简单 TF-IDF的 标签测试

基本思路就是将问题与问题描述用到的词放在一起，当做一篇文章，然后计算全部问题的IDF,再将标签当做关键词计算标签与问题的相似度。

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import time 
import operator
from collections import Counter
from ast import literal_eval
import os
import gc

%matplotlib inline

## Parallelization of pandas.apply() 

根据 https://stackoverflow.com/questions/37078880/status-of-parallelization-of-pandas-apply

找到下面两个并行计算的网址

https://github.com/pandas-dev/pandas/issues/13111

http://www.racketracer.com/2016/07/06/pandas-in-parallel/

我试验了dask 超快，下面有几个框，先用传统的pandas做，然后再用dask做，你可以比较一下，最好能比较一下看看结果是不是一样的。如果 结果一样的话，就可以把传统的实现删除了。

In [2]:
import dask
import dask.dataframe as dd
from dask import threaded, multiprocessing

## Read in data sets

将原来的数据路径放在环境变量里面，这样就不用每次改程序了

nrows: 考虑到曾经在328877那里曾经报过错，所以编程时至少加载35万条数据, 在read_csv时会用到

In [3]:
#data_path=os.environ.get('zhihu_data_path')+'/' 
data_path = 'ieee_zhihu_cup/'
nrows=350 * 1000

In [4]:
start_time = time.time()
print('Start time:', start_time)
df_questions = pd.read_csv(data_path+'question_train_set.txt',header=None, names=['question_id', 'ct', 'wt','cd','wd'], sep='\t', nrows=nrows)
print('time cost:', time.time() - start_time)

Start time: 1498001393.2119536
time cost: 3.727313756942749

### 将DataFrame 转成dask

In [5]:
start_time = time.time()
ddf_questions = dd.from_pandas(df_questions, npartitions =4)
print('time cost:', time.time() - start_time)

time cost: 1.529158115386963

## Prepare df_questions

In [6]:
def split(row):
    return [] if type(row) == float else row.split(',')

### 两个数据异常
3 是没有description

328877 是有title 里面的字不成词

In [7]:
print (df_questions.loc[3])
print (df_questions.loc[328877])

question_id                                    -5698296155734268
ct             c473,c1528,c528,c428,c295,c15,c101,c188,c146,c...
wt             w8646,w2744,w1462,w9,w54,w138,w54,w50,w110,w14...
cd                                                           NaN
wd                                                           NaN
Name: 3, dtype: object
question_id                                  -930822265097814910
ct             c149,c148,c148,c42,c185,c95,c95,c190,c42,c106,...
wt                                                           NaN
cd             c346,c818,c740,c630,c101,c1128,c386,c740,c630,...
wd                              w61033,w54,w26250,w973,w54,w9892
Name: 328877, dtype: object

In [8]:
df_questions.head(5)

,question_id,ct,wt,cd,wd
0,6555699376639805223,"c324,c39,c40,c155,c180,c180,c181,c17,c4,c1153,...","w305,w13549,w22752,w11,w7225,w2565,w1106,w16,w...","c335,c101,c611,c189,c97,c144,c147,c101,c15,c76...","w231,w54,w1681,w54,w11506,w5714,w7,w54,w744,w1..."
1,2887834264226772863,"c44,c110,c101,c286,c106,c150,c101,c892,c632,c1...","w377,w54,w285,w57,w349,w54,w108215,w6,w47986,w...","c1265,c518,c74,c131,c274,c57,c768,c769,c368,c3...","w12508,w1380,w72,w27045,w276,w111"
2,-2687466858632038806,"c15,c768,c769,c1363,c650,c1218,c2361,c11,c90,c...","w875,w15450,w42394,w15863,w6,w95421,w25,w803,w...","c693,c100,c279,c99,c189,c532,c101,c189,c145,c1...","w140340,w54,w48398,w54,w140341,w54,w12856,w54,..."
3,-5698296155734268,"c473,c1528,c528,c428,c295,c15,c101,c188,c146,c...","w8646,w2744,w1462,w9,w54,w138,w54,w50,w110,w14...",NaN,NaN
4,-6719100304248915192,"c190,c147,c105,c219,c220,c101,c647,c219,c220,c...","w380,w54,w674,w133,w54,w134,w614,w54,w929,w307...","c644,c1212,c253,c199,c431,c452,c424,c207,c2,c1...","w4821,w1301,w16003,w928,w1961,w2565,w50803,w11..."

### 两种转list的方法，速度差的不是一点儿半点儿

In [9]:
start_time = time.time()

df_questions['wt_list'] = df_questions.wt.apply(split)

print('time cost:', time.time() - start_time)

start_time = time.time()

ddf_questions['wt_list'] = ddf_questions.wt.apply(split)

print('time cost:', time.time() - start_time)

time cost: 0.829592227935791
time cost: 0.007982015609741211

C:\Users\liuye\Anaconda3\lib\site-packages\dask\dataframe\core.py:1600: UserWarning: `meta` is not specified, inferred from partial data. Please provide `meta` if the result is unexpected.
  Before: .apply(func)
  After:  .apply(func, meta={'x': 'f8', 'y': 'f8'}) for dataframe result
  or:     .apply(func, meta=('x', 'f8'))            for series result
  warnings.warn(msg)

In [10]:
start_time = time.time()

df_questions['wd_list'] = df_questions.wd.apply(split)

print('time cost:', time.time() - start_time)

start_time = time.time()

ddf_questions['wd_list'] = ddf_questions.wd.apply(split)

print('time cost:', time.time() - start_time)

time cost: 2.2994484901428223
time cost: 0.003500223159790039

C:\Users\liuye\Anaconda3\lib\site-packages\dask\dataframe\core.py:1600: UserWarning: `meta` is not specified, inferred from partial data. Please provide `meta` if the result is unexpected.
  Before: .apply(func)
  After:  .apply(func, meta={'x': 'f8', 'y': 'f8'}) for dataframe result
  or:     .apply(func, meta=('x', 'f8'))            for series result
  warnings.warn(msg)

In [11]:
start_time = time.time()
df_questions['bag_of_words'] = df_questions.apply(lambda x : x['wt_list'] + x['wd_list'], axis = 1)
print('time cost:', time.time() - start_time)

time cost: 9.885101795196533

In [12]:
start_time = time.time()
ddf_questions['bag_of_words'] = ddf_questions.apply(lambda x : x['wt_list'] + x['wd_list'], axis = 1)
print('time cost:', time.time() - start_time)

time cost: 0.003995656967163086

C:\Users\liuye\Anaconda3\lib\site-packages\dask\dataframe\core.py:2207: UserWarning: `meta` is not specified, inferred from partial data. Please provide `meta` if the result is unexpected.
  Before: .apply(func)
  After:  .apply(func, meta={'x': 'f8', 'y': 'f8'}) for dataframe result
  or:     .apply(func, meta=('x', 'f8'))            for series result
  warnings.warn(msg)

In [13]:
ddf_questions.head(5)

,question_id,ct,wt,cd,wd,wt_list,wd_list,bag_of_words
0,6555699376639805223,"c324,c39,c40,c155,c180,c180,c181,c17,c4,c1153,...","w305,w13549,w22752,w11,w7225,w2565,w1106,w16,w...","c335,c101,c611,c189,c97,c144,c147,c101,c15,c76...","w231,w54,w1681,w54,w11506,w5714,w7,w54,w744,w1...","[w305, w13549, w22752, w11, w7225, w2565, w110...","[w231, w54, w1681, w54, w11506, w5714, w7, w54...","[w305, w13549, w22752, w11, w7225, w2565, w110..."
1,2887834264226772863,"c44,c110,c101,c286,c106,c150,c101,c892,c632,c1...","w377,w54,w285,w57,w349,w54,w108215,w6,w47986,w...","c1265,c518,c74,c131,c274,c57,c768,c769,c368,c3...","w12508,w1380,w72,w27045,w276,w111","[w377, w54, w285, w57, w349, w54, w108215, w6,...","[w12508, w1380, w72, w27045, w276, w111]","[w377, w54, w285, w57, w349, w54, w108215, w6,..."
2,-2687466858632038806,"c15,c768,c769,c1363,c650,c1218,c2361,c11,c90,c...","w875,w15450,w42394,w15863,w6,w95421,w25,w803,w...","c693,c100,c279,c99,c189,c532,c101,c189,c145,c1...","w140340,w54,w48398,w54,w140341,w54,w12856,w54,...","[w875, w15450, w42394, w15863, w6, w95421, w25...","[w140340, w54, w48398, w54, w140341, w54, w128...","[w875, w15450, w42394, w15863, w6, w95421, w25..."
3,-5698296155734268,"c473,c1528,c528,c428,c295,c15,c101,c188,c146,c...","w8646,w2744,w1462,w9,w54,w138,w54,w50,w110,w14...",NaN,NaN,"[w8646, w2744, w1462, w9, w54, w138, w54, w50,...",[],"[w8646, w2744, w1462, w9, w54, w138, w54, w50,..."
4,-6719100304248915192,"c190,c147,c105,c219,c220,c101,c647,c219,c220,c...","w380,w54,w674,w133,w54,w134,w614,w54,w929,w307...","c644,c1212,c253,c199,c431,c452,c424,c207,c2,c1...","w4821,w1301,w16003,w928,w1961,w2565,w50803,w11...","[w380, w54, w674, w133, w54, w134, w614, w54, ...","[w4821, w1301, w16003, w928, w1961, w2565, w50...","[w380, w54, w674, w133, w54, w134, w614, w54, ..."

In [14]:
start_time = time.time()
df=df_questions[['question_id', 'bag_of_words']]
df.to_pickle(data_path+'question_words_bag.pickle')
print('time cost:', time.time() - start_time)

time cost: 9.929306507110596

### Remove all dataframe

In [15]:
start_time = time.time()
del df
del df_questions
gc.collect()
print('time cost:', time.time() - start_time)

time cost: 1.696505069732666

### Reload data

Can we load the data to dask directly?

In [16]:
start_time = time.time()
df_bag=pd.read_pickle(data_path+'question_words_bag.pickle')
print('time cost:', time.time() - start_time)
print('End time:', time.time())

time cost: 3.0525426864624023
End time: 1498001447.051806

In [17]:
df_bag.head(5)

           question_id                                       bag_of_words
0  6555699376639805223  [w305, w13549, w22752, w11, w7225, w2565, w110...
1  2887834264226772863  [w377, w54, w285, w57, w349, w54, w108215, w6,...
2 -2687466858632038806  [w875, w15450, w42394, w15863, w6, w95421, w25...
3    -5698296155734268  [w8646, w2744, w1462, w9, w54, w138, w54, w50,...
4 -6719100304248915192  [w380, w54, w674, w133, w54, w134, w614, w54, ...

下面这一步很不可思议，只用了5秒多就统计好了全部数据

In [18]:
start_time = time.time()
df_bag['wt_counter'] = df_bag.bag_of_words.apply(Counter)
print('time cost:', time.time() - start_time)

df_bag.head(5)

time cost: 5.239213228225708

,question_id,bag_of_words,wt_counter
0,6555699376639805223,"[w305, w13549, w22752, w11, w7225, w2565, w110...","{'w22752': 1, 'w109': 1, 'w1106': 1, 'w1110': ..."
1,2887834264226772863,"[w377, w54, w285, w57, w349, w54, w108215, w6,...","{'w27045': 1, 'w21790': 1, 'w285': 1, 'w377': ..."
2,-2687466858632038806,"[w875, w15450, w42394, w15863, w6, w95421, w25...","{'w7490': 1, 'w241': 1, 'w42394': 1, 'w5481': ..."
3,-5698296155734268,"[w8646, w2744, w1462, w9, w54, w138, w54, w50,...","{'w112': 1, 'w50': 1, 'w2744': 1, 'w359': 1, '..."
4,-6719100304248915192,"[w380, w54, w674, w133, w54, w134, w614, w54, ...","{'w1301': 1, 'w109': 2, 'w241': 1, 'w674': 1, ..."

In [19]:
df_bag.wt_counter.loc[0]

Counter({'w1019': 1,
         'w1042': 1,
         'w109': 1,
         'w11': 2,
         'w1106': 1,
         'w111': 3,
         'w1110': 1,
         'w11506': 1,
         'w1166': 1,
         'w13549': 1,
         'w16': 1,
         'w1681': 1,
         'w22752': 1,
         'w23': 1,
         'w231': 1,
         'w25': 1,
         'w2565': 1,
         'w26377': 1,
         'w305': 1,
         'w31389': 1,
         'w3332': 1,
         'w37031': 1,
         'w54': 6,
         'w5714': 1,
         'w6': 2,
         'w69288': 1,
         'w7': 1,
         'w7225': 1,
         'w744': 2,
         'w7734': 1,
         'w9': 1})

## Count Occurancy of a word that occurs in a question, including description and title

In [20]:
def CountWords(row):
    for w in row:
        if w not in word_dict.keys():
            word_dict[w] = 1
        else:
            word_dict[w] += 1
    return
word_dict = {}
#word_dict = dict.fromset
start_time = time.time()
_ = df_bag.wt_counter.apply(CountWords)
print('time cost:', time.time() - start_time)

print(len(word_dict))

time cost: 4.929028749465942
248913

## 计算逆文本频率指数 IDF

$$ IDF = log(\frac{D}{D_w}) $$

D： 所有的Question的总数

Dw：词 w 出现在Dw 篇文章中

比如 的 几乎出现在所有的问题中，其IDF 就几乎为零。

秒执行

In [21]:
idf_dict={}
D = len(df_bag)
for k,v in word_dict.items():
    idf_dict[k] = np.log2(float(D)/v)

In [22]:
idf_dict

{'w11443': 18.416995396494414,
 'w433929': 18.416995396494414,
 'w399330': 17.416995396494414,
 'w137190': 16.83203289577326,
 'w459565': 18.416995396494414,
 'w89696': 17.416995396494414,
 'w269235': 17.416995396494414,
 'w16163': 14.83203289577326,
 'w206448': 17.416995396494414,
 'w126892': 16.095067301607052,
 'w244275': 15.83203289577326,
 'w183166': 14.095067301607054,
 'w135366': 18.416995396494414,
 'w62629': 13.609640474436812,
 'w129947': 16.095067301607052,
 'w57704': 13.95756377785712,
 'w169883': 18.416995396494414,
 'w298010': 17.416995396494414,
 'w67865': 15.416995396494416,
 'w389978': 18.416995396494414,
 'w351536': 18.416995396494414,
 'w423156': 18.416995396494414,
 'w2137': 8.5793674633230115,
 'w263196': 17.416995396494414,
 'w18070': 15.83203289577326,
 'w31144': 16.83203289577326,
 'w105458': 12.662107894330948,
 'w283515': 17.416995396494414,
 'w284174': 18.416995396494414,
 'w23964': 12.893433440437404,
 'w383884': 18.416995396494414,
 'w206038': 18.416995396494414,
 'w26798': 14.329532555244077,
 'w340873': 18.416995396494414,
 'w365198': 18.416995396494414,
 'w158156': 13.095067301607054,
 'w198990': 16.83203289577326,
 'w359607': 18.416995396494414,
 'w290864': 16.83203289577326,
 'w80577': 15.247070395052104,
 'w196240': 18.416995396494414,
 'w170865': 18.416995396494414,
 'w62816': 16.416995396494414,
 'w181311': 14.329532555244077,
 'w193069': 15.416995396494416,
 'w433970': 18.416995396494414,
 'w113080': 17.416995396494414,
 'w279050': 18.416995396494414,
 'w32725': 18.416995396494414,
 'w252585': 17.416995396494414,
 'w5768': 10.93317961923016,
 'w185040': 16.83203289577326,
 'w157237': 18.416995396494414,
 'w170746': 17.416995396494414,
 'w180293': 18.416995396494414,
 'w275812': 18.416995396494414,
 'w63771': 17.416995396494414,
 'w370072': 18.416995396494414,
 'w74262': 15.609640474436812,
 'w139477': 16.095067301607052,
 'w199384': 17.416995396494414,
 'w190795': 17.416995396494414,
 'w442509': 18.416995396494414,
 'w28493': 15.095067301607054,
 'w153602': 16.095067301607052,
 'w99370': 16.095067301607052,
 'w136767': 18.416995396494414,
 'w61123': 18.416995396494414,
 'w209306': 17.416995396494414,
 'w459955': 18.416995396494414,
 'w47805': 11.247070395052104,
 'w166260': 17.416995396494414,
 'w107085': 16.095067301607052,
 'w212450': 16.83203289577326,
 'w195738': 17.416995396494414,
 'w59371': 14.716555678353323,
 'w178769': 15.83203289577326,
 'w96012': 11.75878391374262,
 'w225181': 16.83203289577326,
 'w42645': 17.416995396494414,
 'w23036': 10.090565909372113,
 'w286731': 18.416995396494414,
 'w152722': 14.716555678353323,
 'w305252': 18.416995396494414,
 'w193221': 18.416995396494414,
 'w323465': 17.416995396494414,
 'w341464': 18.416995396494414,
 'w379900': 18.416995396494414,
 'w175611': 17.416995396494414,
 'w390519': 18.416995396494414,
 'w137738': 14.609640474436812,
 'w84068': 11.474480891155176,
 'w87610': 16.416995396494414,
 'w126223': 18.416995396494414,
 'w382690': 18.416995396494414,
 'w287879': 18.416995396494414,
 'w165868': 17.416995396494414,
 'w455004': 18.416995396494414,
 'w21024': 15.416995396494416,
 'w197737': 17.416995396494414,
 'w195090': 16.095067301607052,
 'w241827': 18.416995396494414,
 'w98739': 17.416995396494414,
 'w8118': 10.83203289577326,
 'w230524': 17.416995396494414,
 'w7664': 15.83203289577326,
 'w358501': 18.416995396494414,
 'w172266': 12.394627583465962,
 'w65438': 11.169067883050831,
 'w277230': 18.416995396494414,
 'w94995': 16.83203289577326,
 'w152978': 16.83203289577326,
 'w254935': 18.416995396494414,
 'w100759': 16.416995396494414,
 'w238736': 16.83203289577326,
 'w74817': 18.416995396494414,
 'w332324': 18.416995396494414,
 'w12740': 12.95756377785712,
 'w175011': 16.416995396494414,
 'w258887': 15.609640474436812,
 'w147257': 12.308470939716246,
 'w372823': 18.416995396494414,
 'w396125': 18.416995396494414,
 'w161663': 13.893433440437404,
 'w126146': 16.095067301607052,
 'w372078': 18.416995396494414,
 'w217262': 15.83203289577326,
 'w39788': 17.416995396494414,
 'w153611': 15.609640474436812,
 'w187007': 16.095067301607052,
 'w363581': 18.416995396494414,
 'w89637': 15.609640474436812,
 'w40266': 15.247070395052104,
 'w173987': 16.83203289577326,
 'w366429': 18.416995396494414,
 'w214687': 17.416995396494414,
 'w261358': 17.416995396494414,
 'w216231': 18.416995396494414,
 'w157379': 17.416995396494414,
 'w360229': 18.416995396494414,
 'w97486': 17.416995396494414,
 'w19486': 15.416995396494416,
 'w296491': 18.416995396494414,
 'w17641': 10.780370775950766,
 'w166803': 14.416995396494416,
 'w71310': 17.416995396494414,
 'w215075': 15.83203289577326,
 'w18557': 13.024677973715656,
 'w189444': 18.416995396494414,
 'w234768': 16.416995396494414,
 'w46286': 16.83203289577326,
 'w104702': 16.095067301607052,
 'w43387': 12.802285552379209,
 'w276847': 18.416995396494414,
 'w54982': 16.83203289577326,
 'w179384': 18.416995396494414,
 'w94278': 18.416995396494414,
 'w62030': 16.83203289577326,
 'w40844': 17.416995396494414,
 'w65196': 11.92514230016474,
 'w340032': 18.416995396494414,
 'w7605': 13.329532555244077,
 'w130515': 18.416995396494414,
 'w30189': 12.510104800885896,
 'w58931': 16.416995396494414,
 'w96614': 16.83203289577326,
 'w272833': 17.416995396494414,
 'w460547': 18.416995396494414,
 'w249581': 16.095067301607052,
 'w115136': 16.095067301607052,
 'w142259': 15.416995396494416,
 'w354616': 18.416995396494414,
 'w54858': 16.095067301607052,
 'w219869': 18.416995396494414,
 'w67375': 16.095067301607052,
 'w117583': 16.416995396494414,
 'w268917': 18.416995396494414,
 'w5086': 8.0782590139204995,
 'w67494': 13.662107894330948,
 'w122751': 18.416995396494414,
 'w172973': 14.609640474436812,
 'w137575': 18.416995396494414,
 'w251134': 18.416995396494414,
 'w266258': 18.416995396494414,
 'w264881': 17.416995396494414,
 'w26184': 11.75878391374262,
 'w329981': 17.416995396494414,
 'w23679': 13.510104800885896,
 'w10421': 14.329532555244077,
 'w16366': 16.83203289577326,
 'w59262': 14.83203289577326,
 'w22662': 13.510104800885896,
 'w444444': 18.416995396494414,
 'w245776': 15.416995396494416,
 'w69589': 16.095067301607052,
 'w425498': 18.416995396494414,
 'w30545': 16.83203289577326,
 'w433676': 18.416995396494414,
 'w124699': 16.416995396494414,
 'w214666': 15.83203289577326,
 'w99318': 14.095067301607054,
 'w76': 4.1999464829380777,
 'w316360': 18.416995396494414,
 'w277668': 16.416995396494414,
 'w408302': 17.416995396494414,
 'w255325': 18.416995396494414,
 'w33023': 13.893433440437404,
 'w205444': 16.095067301607052,
 'w397984': 18.416995396494414,
 'w134134': 18.416995396494414,
 'w179580': 16.416995396494414,
 'w144134': 13.559014401366843,
 'w147291': 13.662107894330948,
 'w337084': 18.416995396494414,
 'w45869': 16.095067301607052,
 'w312579': 18.416995396494414,
 'w175146': 15.416995396494416,
 'w5343': 18.416995396494414,
 'w422521': 18.416995396494414,
 'w321222': 18.416995396494414,
 'w151429': 18.416995396494414,
 'w229544': 16.416995396494414,
 'w26496': 15.247070395052104,
 'w4277': 12.609640474436812,
 'w142397': 12.350906206036644,
 'w51968': 10.217323051658051,
 'w132068': 18.416995396494414,
 'w274870': 18.416995396494414,
 'w150464': 14.95756377785712,
 'w58536': 12.662107894330948,
 'w148351': 16.83203289577326,
 'w318184': 18.416995396494414,
 'w304156': 18.416995396494414,
 'w149547': 15.095067301607054,
 'w151713': 15.247070395052104,
 'w225580': 15.83203289577326,
 'w160099': 17.416995396494414,
 'w69620': 16.83203289577326,
 'w32591': 14.510104800885896,
 'w42054': 15.247070395052104,
 'w220984': 16.095067301607052,
 'w186831': 16.83203289577326,
 'w27376': 14.83203289577326,
 'w399188': 18.416995396494414,
 'w13831': 16.416995396494414,
 'w210257': 18.416995396494414,
 'w148156': 12.773139206719691,
 'w19055': 12.559014401366843,
 'w268542': 18.416995396494414,
 'w41110': 11.462799086107541,
 'w3199': 15.609640474436812,
 'w15583': 14.024677973715656,
 'w31366': 17.416995396494414,
 'w21804': 12.077145393609792,
 'w458753': 18.416995396494414,
 'w144238': 16.83203289577326,
 'w289308': 17.416995396494414,
 'w130189': 18.416995396494414,
 'w144707': 15.095067301607054,
 'w348426': 18.416995396494414,
 'w61292': 18.416995396494414,
 'w3617': 8.2736121825045963,
 'w223934': 17.416995396494414,
 'w289129': 16.83203289577326,
 'w29387': 12.990730641792318,
 'w13513': 18.416995396494414,
 'w41157': 16.416995396494414,
 'w395829': 18.416995396494414,
 'w176821': 18.416995396494414,
 'w128424': 14.247070395052104,
 'w151913': 15.416995396494416,
 'w170965': 17.416995396494414,
 'w334773': 16.83203289577326,
 'w107594': 15.416995396494416,
 'w171701': 14.83203289577326,
 'w376828': 18.416995396494414,
 'w277526': 18.416995396494414,
 'w234275': 18.416995396494414,
 'w160096': 15.83203289577326,
 'w201548': 18.416995396494414,
 'w313168': 16.416995396494414,
 'w195629': 18.416995396494414,
 'w323674': 17.416995396494414,
 'w251327': 16.83203289577326,
 'w73554': 16.416995396494414,
 'w377101': 18.416995396494414,
 'w160318': 18.416995396494414,
 'w161700': 14.095067301607054,
 'w150036': 18.416995396494414,
 'w6718': 14.169067883050831,
 'w452318': 18.416995396494414,
 'w316387': 17.416995396494414,
 'w384427': 18.416995396494414,
 'w257033': 17.416995396494414,
 'w216321': 18.416995396494414,
 'w154565': 16.83203289577326,
 'w141601': 17.416995396494414,
 'w24629': 11.941261965528017,
 'w237240': 16.83203289577326,
 'w28012': 12.862406544816778,
 'w272467': 18.416995396494414,
 'w163433': 15.609640474436812,
 'w193171': 15.247070395052104,
 'w439745': 18.416995396494414,
 'w424892': 18.416995396494414,
 'w93694': 14.095067301607054,
 'w44850': 15.247070395052104,
 'w179506': 16.83203289577326,
 'w91797': 14.83203289577326,
 'w432491': 18.416995396494414,
 'w209658': 16.095067301607052,
 'w176902': 15.416995396494416,
 'w139324': 18.416995396494414,
 'w262589': 17.416995396494414,
 'w114663': 15.83203289577326,
 'w109799': 16.095067301607052,
 'w161153': 16.416995396494414,
 'w44121': 13.716555678353323,
 'w45685': 16.83203289577326,
 'w70504': 15.609640474436812,
 'w196667': 14.95756377785712,
 'w163414': 17.416995396494414,
 'w369594': 18.416995396494414,
 'w284274': 18.416995396494414,
 'w190832': 18.416995396494414,
 'w442447': 18.416995396494414,
 'w293842': 18.416995396494414,
 'w128719': 18.416995396494414,
 'w152021': 15.609640474436812,
 'w398061': 18.416995396494414,
 'w161029': 18.416995396494414,
 'w34950': 13.662107894330948,
 'w267776': 17.416995396494414,
 'w212485': 18.416995396494414,
 'w104971': 12.689074941931217,
 'w164350': 12.990730641792318,
 'w302694': 18.416995396494414,
 'w112367': 17.416995396494414,
 'w200760': 14.510104800885896,
 'w166423': 15.416995396494416,
 'w106509': 13.662107894330948,
 'w220803': 17.416995396494414,
 'w116008': 13.662107894330948,
 'w354858': 18.416995396494414,
 'w192848': 15.416995396494416,
 'w231854': 17.416995396494414,
 'w158522': 14.416995396494416,
 'w178938': 17.416995396494414,
 'w248356': 15.83203289577326,
 'w217732': 18.416995396494414,
 'w57841': 17.416995396494414,
 'w116944': 16.416995396494414,
 'w377936': 18.416995396494414,
 'w158870': 16.83203289577326,
 'w88694': 14.169067883050831,
 'w146902': 15.416995396494416,
 'w177258': 15.416995396494416,
 'w44004': 11.383572394956966,
 'w19462': 16.83203289577326,
 'w200351': 17.416995396494414,
 'w213748': 17.416995396494414,
 'w24091': 14.95756377785712,
 'w214412': 18.416995396494414,
 'w163955': 15.83203289577326,
 'w145680': 18.416995396494414,
 'w37022': 13.372601277135962,
 'w9602': 11.451211111832329,
 'w361202': 18.416995396494414,
 'w267045': 18.416995396494414,
 'w287125': 16.83203289577326,
 'w29178': 9.1881767059985346,
 'w2566': 5.1748633388120426,
 'w42860': 18.416995396494414,
 'w12336': 13.416995396494416,
 'w344463': 18.416995396494414,
 'w33928': 16.83203289577326,
 'w5177': 13.609640474436812,
 'w133979': 16.83203289577326,
 'w275602': 18.416995396494414,
 'w411900': 18.416995396494414,
 'w191479': 15.247070395052104,
 'w380698': 18.416995396494414,
 'w123308': 18.416995396494414,
 'w193082': 15.83203289577326,
 'w16953': 14.416995396494416,
 'w16849': 11.0506731822486,
 'w206472': 16.416995396494414,
 'w186363': 18.416995396494414,
 'w39260': 13.372601277135962,
 'w296657': 18.416995396494414,
 'w162608': 18.416995396494414,
 'w336147': 18.416995396494414,
 'w93259': 11.893433440437404,
 'w248271': 18.416995396494414,
 'w125250': 16.83203289577326,
 'w226410': 16.416995396494414,
 'w179228': 16.416995396494414,
 'w255978': 18.416995396494414,
 'w10561': 15.095067301607054,
 'w8872': 15.83203289577326,
 'w200704': 15.095067301607054,
 'w162557': 13.024677973715656,
 'w77773': 15.609640474436812,
 'w42793': 14.510104800885896,
 'w297579': 17.416995396494414,
 'w6706': 11.57150534555004,
 'w52349': 14.716555678353323,
 'w293415': 18.416995396494414,
 'w140598': 17.416995396494414,
 'w24005': 12.416995396494416,
 'w210709': 18.416995396494414,
 'w101613': 18.416995396494414,
 'w454208': 18.416995396494414,
 'w178432': 18.416995396494414,
 'w96665': 18.416995396494414,
 'w22565': 16.095067301607052,
 'w65736': 17.416995396494414,
 'w369520': 18.416995396494414,
 'w2473': 11.941261965528017,
 'w124129': 15.83203289577326,
 'w141982': 12.188176705998535,
 'w123360': 17.416995396494414,
 'w348388': 18.416995396494414,
 'w192655': 18.416995396494414,
 'w66003': 14.169067883050831,
 'w272580': 16.416995396494414,
 'w154770': 16.095067301607052,
 'w271425': 18.416995396494414,
 'w264746': 18.416995396494414,
 'w171162': 16.416995396494414,
 'w34128': 9.5404784499294166,
 'w3233': 11.802285552379209,
 'w297001': 18.416995396494414,
 'w73405': 18.416995396494414,
 'w40236': 17.416995396494414,
 'w258449': 18.416995396494414,
 'w250929': 17.416995396494414,
 'w197618': 17.416995396494414,
 'w14224': 13.287712379549449,
 'w310120': 18.416995396494414,
 'w153431': 18.416995396494414,
 'w111661': 13.716555678353323,
 'w27868': 12.372601277135962,
 'w314135': 18.416995396494414,
 'w218389': 16.416995396494414,
 'w95568': 16.416995396494414,
 'w320120': 18.416995396494414,
 'w245774': 18.416995396494414,
 'w167483': 18.416995396494414,
 'w294344': 16.83203289577326,
 'w21489': 10.655444164049937,
 'w170691': 18.416995396494414,
 'w150414': 14.83203289577326,
 'w146019': 12.462799086107541,
 'w329272': 18.416995396494414,
 'w20795': 12.802285552379209,
 'w54557': 16.095067301607052,
 'w176146': 15.83203289577326,
 'w66070': 13.329532555244077,
 'w155261': 14.83203289577326,
 'w210656': 18.416995396494414,
 'w986': 8.5621270132341802,
 'w154372': 14.83203289577326,
 'w250531': 16.83203289577326,
 'w136180': 15.247070395052104,
 'w10073': 14.247070395052104,
 'w258198': 17.416995396494414,
 'w229772': 15.247070395052104,
 'w390780': 18.416995396494414,
 'w457436': 18.416995396494414,
 'w21404': 18.416995396494414,
 'w54444': 13.024677973715656,
 'w278354': 18.416995396494414,
 'w207690': 17.416995396494414,
 'w333741': 18.416995396494414,
 'w72225': 13.247070395052104,
 'w124456': 13.773139206719691,
 'w48072': 14.716555678353323,
 'w392117': 18.416995396494414,
 'w132172': 14.609640474436812,
 'w222822': 18.416995396494414,
 'w15357': 10.824538359226336,
 'w189969': 15.83203289577326,
 'w200746': 18.416995396494414,
 'w395851': 18.416995396494414,
 'w223812': 15.416995396494416,
 'w98088': 18.416995396494414,
 'w144568': 16.83203289577326,
 'w303879': 18.416995396494414,
 'w237564': 15.83203289577326,
 'w10782': 11.394627583465962,
 'w3645': 4.9068493763390517,
 'w142188': 11.609640474436812,
 'w80561': 17.416995396494414,
 'w170176': 18.416995396494414,
 'w124275': 12.83203289577326,
 'w136453': 14.510104800885896,
 'w389993': 18.416995396494414,
 'w7734': 7.2032835983887438,
 'w19101': 14.510104800885896,
 'w432018': 18.416995396494414,
 'w245383': 18.416995396494414,
 'w65545': 18.416995396494414,
 'w125323': 18.416995396494414,
 'w43160': 14.716555678353323,
 'w247025': 18.416995396494414,
 'w83741': 14.83203289577326,
 'w367185': 18.416995396494414,
 'w71358': 17.416995396494414,
 'w186260': 17.416995396494414,
 'w209609': 17.416995396494414,
 'w178005': 16.83203289577326,
 'w47633': 14.716555678353323,
 'w280377': 16.83203289577326,
 'w239866': 14.83203289577326,
 'w220145': 18.416995396494414,
 'w26809': 14.716555678353323,
 'w198926': 14.609640474436812,
 'w313519': 18.416995396494414,
 'w27588': 16.416995396494414,
 'w48506': 18.416995396494414,
 'w44118': 14.95756377785712,
 'w5907': 11.57150534555004,
 'w155919': 11.498132159219821,
 'w135553': 15.83203289577326,
 'w442619': 18.416995396494414,
 'w154167': 16.095067301607052,
 'w353350': 18.416995396494414,
 'w294693': 18.416995396494414,
 'w309762': 18.416995396494414,
 'w160763': 17.416995396494414,
 'w3724': 8.0300551511701048,
 'w128538': 18.416995396494414,
 'w225282': 18.416995396494414,
 'w19720': 18.416995396494414,
 'w36106': 13.131593177632167,
 'w362633': 18.416995396494414,
 'w12014': 14.95756377785712,
 'w175213': 16.83203289577326,
 'w255616': 18.416995396494414,
 'w132044': 15.609640474436812,
 'w371257': 18.416995396494414,
 'w147591': 12.773139206719691,
 'w311116': 18.416995396494414,
 'w443563': 18.416995396494414,
 'w26477': 10.498132159219821,
 'w347879': 18.416995396494414,
 'w21001': 16.095067301607052,
 'w6386': 12.559014401366843,
 'w28394': 14.095067301607054,
 'w28331': 7.7481104122281685,
 'w59505': 15.83203289577326,
 'w258626': 18.416995396494414,
 'w400591': 18.416995396494414,
 'w258154': 16.416995396494414,
 'w246461': 16.095067301607052,
 'w118267': 17.416995396494414,
 'w178285': 18.416995396494414,
 'w19942': 18.416995396494414,
 'w125673': 16.416995396494414,
 'w60607': 17.416995396494414,
 'w133158': 18.416995396494414,
 'w113369': 10.456993464426334,
 'w898': 6.9560276339239939,
 'w228879': 17.416995396494414,
 'w325858': 18.416995396494414,
 'w184167': 17.416995396494414,
 'w21700': 15.83203289577326,
 'w66992': 14.95756377785712,
 'w279703': 17.416995396494414,
 'w434180': 18.416995396494414,
 'w147618': 16.095067301607052,
 'w244394': 16.095067301607052,
 'w417690': 17.416995396494414,
 'w20100': 14.609640474436812,
 'w233496': 14.95756377785712,
 'w147709': 11.546630676911011,
 'w279279': 18.416995396494414,
 'w28999': 17.416995396494414,
 'w138130': 16.095067301607052,
 'w20059': 11.486258058931529,
 'w147146': 18.416995396494414,
 'w167528': 15.247070395052104,
 'w405159': 18.416995396494414,
 'w108527': 16.095067301607052,
 'w220360': 14.83203289577326,
 'w39722': 18.416995396494414,
 'w419046': 18.416995396494414,
 'w180760': 15.095067301607054,
 'w116311': 15.609640474436812,
 'w176689': 18.416995396494414,
 'w17104': 13.662107894330948,
 'w146030': 17.416995396494414,
 'w457810': 18.416995396494414,
 'w224423': 18.416995396494414,
 'w114604': 15.609640474436812,
 'w1589': 12.716555678353323,
 'w99117': 15.83203289577326,
 'w47809': 12.990730641792318,
 'w55021': 14.95756377785712,
 'w12837': 16.416995396494414,
 'w27413': 16.416995396494414,
 'w113096': 14.95756377785712,
 'w8610': 11.847139788163467,
 'w245141': 18.416995396494414,
 'w26': 8.0771453936097917,
 'w51508': 16.095067301607052,
 'w210016': 17.416995396494414,
 'w258965': 18.416995396494414,
 'w229524': 17.416995396494414,
 'w17111': 9.7096362644135326,
 'w124787': 14.716555678353323,
 'w185287': 16.416995396494414,
 'w349817': 18.416995396494414,
 'w80386': 14.247070395052104,
 'w358344': 18.416995396494414,
 'w259177': 18.416995396494414,
 'w116775': 18.416995396494414,
 'w255507': 18.416995396494414,
 'w184887': 17.416995396494414,
 'w394630': 18.416995396494414,
 'w96038': 18.416995396494414,
 'w38954': 13.462799086107541,
 'w409071': 18.416995396494414,
 'w1444': 15.609640474436812,
 'w89751': 16.83203289577326,
 'w105071': 18.416995396494414,
 'w270184': 18.416995396494414,
 'w207884': 16.095067301607052,
 'w200694': 18.416995396494414,
 'w256944': 17.416995396494414,
 'w158666': 14.609640474436812,
 'w187328': 16.416995396494414,
 'w69580': 18.416995396494414,
 'w6021': 14.095067301607054,

# 根据 TF-IDF 计算 Question与Topic的相关性

$$ TF-IDF = TF_1\cdot IDF_1 + TF_2 \cdot IDF_2 + ... + TF_N \cdot IDF_N $$

TF1: 词1在此Question 出现的频率 $$ TFx = \frac{词_x在此question中出现的次数}{此Question中的总词数}$$ 

此处的词指来自Topic中的词。如Topic为w32,w1234 则计算每一篇文章与W32, w1234的相关性。

用的时候再加载，减少不必要的内存占用

In [23]:
df_topics = pd.read_csv(data_path+'topic_info.txt', header=None, names=['topic_id', 'pid', 'cn', 'wn', 'cd', 'wd'],sep='\t')
df_question_topic = pd.read_csv(data_path+'question_topic_train_set.txt', header=None, names=['question_id', 'topic_id'],sep='\t')

In [24]:
df_topics[df_topics['topic_id'] == 738845194850773558].wd[0]

'w0,w1,w2,w3,w4,w5,w6,w7,w8,w9,w10,w11,w12,w13,w14,w15,w16,w17,w18,w15,w6,w19,w20,w21,w22,w23'

### 数据预处理

1. 在df_bag 中增加一列，包含每一个question的词的总数， 就是下面的 total_word
2. 按照上面处理 question的方法，处理topics, 也要有 wt_counter 与 total_word

#### Adding bag_of_words, wt_counter and total_words to df_topics

In [25]:
def topic_word_bag(row):
    if type(row.wn) == float and type(row.wd) == float:
        return []
    elif type(row.wn) == float:
        return row.wd.split(',')
    elif type(row.wd) == float:
        return row.wn.split(',')
    return (row.wn + ',' + row.wd).split(',') 

df_topics['bag_of_words'] = df_topics.apply(topic_word_bag, axis = 1)

In [26]:
def topic_wt_counter(row):
    d = dict()
    for word in row:
        if word not in d.keys():
            d[word] = 1
        else:
            d[word] += 1
    return d
df_topics['wt_counter'] = df_topics.bag_of_words.apply(topic_wt_counter)

In [27]:
def total_word(row):
    return sum(row.values())
df_topics['total_word'] = df_topics.wt_counter.apply(total_word)

#### Adding total_words to df_bag

In [28]:
df_bag['total_word'] = df_bag.wt_counter.apply(total_word)

In [29]:
def tf_idf(topic_id, question_id):
    index1 = df_topics[df_topics['topic_id'] == topic_id].index[0]
    topic_word = df_topics[df_topics['topic_id'] == topic_id].bag_of_words[index1]

    index2 = df_bag[df_bag['question_id'] == question_id].index[0]
    word_dict = df_bag[df_bag['question_id'] == question_id].wt_counter[index2]

    total_word = df_bag[df_bag['question_id'] == question_id].total_word[index2]

    
    tf_idf_value = 0
    for word in topic_word:
        if word in word_dict:
            tf_idf_value += idf_dict[word]*word_dict[word]/total_word
    return tf_idf_value

In [30]:
tf_idf(-3149765934180654494, 2887834264226772863)

0.019724183082528223

In [31]:
def split_to_list(row):
    return row.split(',')
df_question_topic['topic_id_list'] = df_question_topic.topic_id.apply(split_to_list)

In [32]:
df_question_topic['topic_count'] = df_question_topic.topic_id_list.apply(len)

In [33]:
sub_df = df_question_topic[df_question_topic['topic_count'] == 1]

In [34]:
sub_df.loc[1][1]

'-3149765934180654494'

In [35]:
def tf_idf2(ser):
    return tf_idf(int(ser.topic_id_list[0]), ser.question_id)

In [36]:
sub_df.head(5)

,question_id,topic_id,topic_id_list,topic_count
1,2887834264226772863,-3149765934180654494,[-3149765934180654494],1
2,-2687466858632038806,-760432988437306018,[-760432988437306018],1
9,3174606710238304130,-4115748438709160582,[-4115748438709160582],1
18,-3679570071031716995,-9176307901497282391,[-9176307901497282391],1
21,6004514913022607006,-8966465280115387956,[-8966465280115387956],1

In [37]:
df_topics[df_topics['topic_id'] == -3149765934180654494]

,topic_id,pid,cn,wn,cd,wd,bag_of_words,wt_counter,total_word
769,-3149765934180654494,-5388067101870430963,"c1487,c378",w17245,"c70,c110,c1216,c1303,c11,c2308,c1201,c212,c378","w10730,w2741,w6,w17246,w17247","[w17245, w10730, w2741, w6, w17246, w17247]","{'w17245': 1, 'w6': 1, 'w17246': 1, 'w10730': ...",6

In [38]:
df_topics[ df_topics['topic_id'] == 738845194850773558]

,topic_id,pid,cn,wn,cd,wd,bag_of_words,wt_counter,total_word
0,738845194850773558,-5833678375673307423,"c0,c1",w0,"c0,c1,c2,c3,c4,c5,c6,c7,c0,c1,c8,c9,c10,c11,c1...","w0,w1,w2,w3,w4,w5,w6,w7,w8,w9,w10,w11,w12,w13,...","[w0, w0, w1, w2, w3, w4, w5, w6, w7, w8, w9, w...","{'w10': 1, 'w18': 1, 'w22': 1, 'w5': 1, 'w2': ...",27

In [39]:
print('df_topics[df_topics[\'topic_id\'] == 738845194850773558].wn=', df_topics[df_topics['topic_id'] == 738845194850773558].wn)
print('df_topics[df_topics[\'topic_id\'] == 738845194850773558].wn[0]=', df_topics[df_topics['topic_id'] == 738845194850773558].wn[0])
print()

print('df_topics[df_topics[\'topic_id\'] == -3149765934180654494].wn=', df_topics[df_topics['topic_id'] == -3149765934180654494].wn)
print('df_topics[df_topics[\'topic_id\'] == -3149765934180654494].wn[0]=', df_topics[df_topics['topic_id'] == -3149765934180654494].wn[769])

# why? !!!

df_topics[df_topics['topic_id'] == 738845194850773558].wn= 0    w0
Name: wn, dtype: object
df_topics[df_topics['topic_id'] == 738845194850773558].wn[0]= w0

df_topics[df_topics['topic_id'] == -3149765934180654494].wn= 769    w17245
Name: wn, dtype: object
df_topics[df_topics['topic_id'] == -3149765934180654494].wn[0]= w17245

In [40]:
df_topics[df_topics['topic_id'] == -3149765934180654494].index[0]

769

In [41]:
#tf_idf2(sub_df.loc[1])
print(int(sub_df.loc[1].topic_id_list[0]),sub_df.loc[1].question_id)
tf_idf(-3149765934180654494 ,2887834264226772863)

-3149765934180654494 2887834264226772863

0.019724183082528223

In [42]:
start_time = time.time()
a = sub_df.head(10000).apply(tf_idf2, axis = 1)
print('time cost:', time.time() - start_time)

time cost: 27.73903465270996

In [43]:
sub_df.head(114900)

,question_id,topic_id,topic_id_list,topic_count
1,2887834264226772863,-3149765934180654494,[-3149765934180654494],1
2,-2687466858632038806,-760432988437306018,[-760432988437306018],1
9,3174606710238304130,-4115748438709160582,[-4115748438709160582],1
18,-3679570071031716995,-9176307901497282391,[-9176307901497282391],1
21,6004514913022607006,-8966465280115387956,[-8966465280115387956],1
23,-6317692530143404667,-4175044003751472418,[-4175044003751472418],1
26,-2335474937104234672,6493581724141198741,[6493581724141198741],1
28,-6473476649740451635,3247902953025099742,[3247902953025099742],1
31,554647747767379078,2460528390051567153,[2460528390051567153],1
32,7964675238481673415,-2288652390863265229,[-2288652390863265229],1
34,8936601607840297591,-4200589112729926854,[-4200589112729926854],1
37,8387056547283166978,-1763510825413002970,[-1763510825413002970],1
39,-1032126113670299025,844641982688873856,[844641982688873856],1
40,-726983769124373967,1149442028819396978,[1149442028819396978],1
41,3971697068586241635,2358602120077680332,[2358602120077680332],1
42,-4410156069340646547,-4530635517516786435,[-4530635517516786435],1
48,1603517824980441299,2620423314205594477,[2620423314205594477],1
55,-5398005758094145195,2478695500618560154,[2478695500618560154],1
58,-3572728431542215473,7256815922327333383,[7256815922327333383],1
59,766192590386506565,5252993787219186549,[5252993787219186549],1
61,-4978352998719283788,-7951567235515055279,[-7951567235515055279],1
64,2205643630145204204,1127459907694805235,[1127459907694805235],1
68,5261028346232605311,-1337962690305221735,[-1337962690305221735],1
73,8567164187067850125,-6583250835532759869,[-6583250835532759869],1
74,-8488468105440012723,-1763510825413002970,[-1763510825413002970],1
76,-573164229104130038,-2366809508980261782,[-2366809508980261782],1
77,-9145433802364796726,-2149884934935655725,[-2149884934935655725],1
79,-1870931873554427294,8671770789948109260,[8671770789948109260],1
81,3716368657565850789,9059610977317352399,[9059610977317352399],1
84,-1373981090745408682,-6118242661945663443,[-6118242661945663443],1
...,...,...,...,...
349928,-2547409446984405081,6929574213890444536,[6929574213890444536],1
349931,412701049875762740,-3061873284528456248,[-3061873284528456248],1
349935,-6741593025286434055,-1287901756552786603,[-1287901756552786603],1
349938,-165045448798080542,-5028991260192797058,[-5028991260192797058],1
349940,-4558525382531990079,3756597728166171300,[3756597728166171300],1
349941,4752755674004385402,-8365788239271014215,[-8365788239271014215],1
349942,6367292361142686266,6569012000551779051,[6569012000551779051],1
349944,-7902960253536736170,-8209651626505353779,[-8209651626505353779],1
349951,-6105431099221649911,2358602120077680332,[2358602120077680332],1
349954,1158785098770799445,4634825204717668542,[4634825204717668542],1
349955,4527041959909091501,1420790574181137744,[1420790574181137744],1
349968,-419569510910120688,-5603787840210684334,[-5603787840210684334],1
349982,1799522704996987275,-1296438675909954008,[-1296438675909954008],1
349983,-6254933874766484446,1033816721290613934,[1033816721290613934],1
349992,4199061269997281807,5195052674759712046,[5195052674759712046],1
349993,3881290304136239025,5860709468180973459,[5860709468180973459],1
350003,5337527309978744352,7820378771178228515,[7820378771178228515],1
350006,7709567333893220268,-7986077887193730895,[-7986077887193730895],1
350011,2564856249723687431,-7496262653600316163,[-7496262653600316163],1
350012,1958654322340850307,-5243683122430849003,[-5243683122430849003],1
350013,-6365993984539519890,5370870069386720811,[5370870069386720811],1
350014,-5781174065141601500,1033816721290613934,[1033816721290613934],1
350025,6366049574406821570,-7865809443640391823,[-7865809443640391823],1
350026,-4207134525186931764,-6209302970466816480,[-6209302970466816480],1
350028,-5693885692798315002,5244246852161070930,[5244246852161070930],1
350036,4438253023824011208,5399048486759263580,[5399048486759263580],1
350038,3906561421984131773,8198062245752130541,[8198062245752130541],1
350048,-2865074665297996140,-7485487238471669174,[-7485487238471669174],1
350049,-336690758043962235,-4379247820452209357,[-4379247820452209357],1
350050,1666419954897568655,-5685149382072526764,[-5685149382072526764],1

In [44]:
a.sort()

C:\Users\liuye\Anaconda3\lib\site-packages\ipykernel\__main__.py:1: FutureWarning: sort is deprecated, use sort_values(inplace=True) for INPLACE sorting
  if __name__ == '__main__':

In [45]:
a

39944     0.000000
24534     0.000000
24513     0.000000
24512     0.000000
8826      0.000000
24442     0.000000
8862      0.000000
24441     0.000000
24420     0.000000
8887      0.000000
24400     0.000000
24393     0.000000
24376     0.000000
24367     0.000000
24337     0.000000
8928      0.000000
24336     0.000000
24334     0.000000
24313     0.000000
24307     0.000000
24559     0.000000
24295     0.000000
24571     0.000000
8810      0.000000
24827     0.000000
24814     0.000000
24804     0.000000
24787     0.000000
24784     0.000000
24783     0.000000
           ...
39040    10.765944
38223    10.772014
11023    10.973747
36711    11.034490
1449     11.322911
17618    11.422856
5016     11.472346
29837    11.522178
21345    11.530810
35650    12.017389
10802    12.464419
4793     12.536169
19944    12.624126
27867    13.152722
31887    13.587493
14089    14.423635
4237     15.148951
26163    15.205886
3979     15.434888
34200    15.492865
16656    15.698864
2310     15.855189
10775    17.218384
14674    17.813101
5931     19.209753
973      19.804295
5840     20.064562
4860     21.910476
20494    21.998286
33917    22.047137
dtype: float64

In [ ]:
sub_df['tf_idf'] = sub_df.apply(tf_idf2, axis = 1)

## 考查TF_IDF的分布情况

### 计算单topic的Question的TF-IDF分布情况

### 计算多topic的Question的TF-IDF分布情况

In [ ]:
# your code here ...

## 分析多Topic时，Topic的位置与TF-IDF的关系

In [ ]:
# your code here ...

## 研究 Topic 继承关系对Topic赋值的影响

## 研究同义词对 Topic赋值的影响