# 基于简单 TF-IDF的 标签测试

基本思路就是将问题与问题描述用到的词放在一起，当做一篇文章，然后计算全部问题的IDF,再将标签当做关键词计算标签与问题的相似度。

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import time 
import operator
from collections import Counter
from ast import literal_eval
import os
import gc

%matplotlib inline

## Parallelization of pandas.apply() 

根据 https://stackoverflow.com/questions/37078880/status-of-parallelization-of-pandas-apply

找到下面两个并行计算的网址

https://github.com/pandas-dev/pandas/issues/13111

http://www.racketracer.com/2016/07/06/pandas-in-parallel/

我试验了dask 超快，下面有几个框，先用传统的pandas做，然后再用dask做，你可以比较一下，最好能比较一下看看结果是不是一样的。如果 结果一样的话，就可以把传统的实现删除了。

In [2]:
import dask
import dask.dataframe as dd
from dask import threaded, multiprocessing

## Read in data sets

将原来的数据路径放在环境变量里面，这样就不用每次改程序了

nrows: 考虑到曾经在328877那里曾经报过错，所以编程时至少加载35万条数据, 在read_csv时会用到

In [3]:
#data_path=os.environ.get('zhihu_data_path')+'/' 
data_path = 'ieee_zhihu_cup/'
nrows=350 * 1000

In [4]:
start_time = time.time()
print('Start time:', start_time)
df_questions = pd.read_csv(data_path+'question_train_set.txt',header=None, names=['question_id', 'ct', 'wt','cd','wd'], sep='\t', nrows=nrows)
print('time cost:', time.time() - start_time)

Start time: 1497736935.981434
time cost: 3.8162386417388916

### 将DataFrame 转成dask

In [5]:
start_time = time.time()
ddf_questions = dd.from_pandas(df_questions, npartitions =4)
print('time cost:', time.time() - start_time)

time cost: 1.6201422214508057

## Prepare df_questions

In [6]:
def split(row):
    return [] if type(row) == float else row.split(',')

### 两个数据异常
3 是没有description

328877 是有title 里面的字不成词

In [7]:
print (df_questions.loc[3])
print (df_questions.loc[328877])

question_id                                    -5698296155734268
ct             c473,c1528,c528,c428,c295,c15,c101,c188,c146,c...
wt             w8646,w2744,w1462,w9,w54,w138,w54,w50,w110,w14...
cd                                                           NaN
wd                                                           NaN
Name: 3, dtype: object
question_id                                  -930822265097814910
ct             c149,c148,c148,c42,c185,c95,c95,c190,c42,c106,...
wt                                                           NaN
cd             c346,c818,c740,c630,c101,c1128,c386,c740,c630,...
wd                              w61033,w54,w26250,w973,w54,w9892
Name: 328877, dtype: object

In [8]:
df_questions.head(5)

,question_id,ct,wt,cd,wd
0,6555699376639805223,"c324,c39,c40,c155,c180,c180,c181,c17,c4,c1153,...","w305,w13549,w22752,w11,w7225,w2565,w1106,w16,w...","c335,c101,c611,c189,c97,c144,c147,c101,c15,c76...","w231,w54,w1681,w54,w11506,w5714,w7,w54,w744,w1..."
1,2887834264226772863,"c44,c110,c101,c286,c106,c150,c101,c892,c632,c1...","w377,w54,w285,w57,w349,w54,w108215,w6,w47986,w...","c1265,c518,c74,c131,c274,c57,c768,c769,c368,c3...","w12508,w1380,w72,w27045,w276,w111"
2,-2687466858632038806,"c15,c768,c769,c1363,c650,c1218,c2361,c11,c90,c...","w875,w15450,w42394,w15863,w6,w95421,w25,w803,w...","c693,c100,c279,c99,c189,c532,c101,c189,c145,c1...","w140340,w54,w48398,w54,w140341,w54,w12856,w54,..."
3,-5698296155734268,"c473,c1528,c528,c428,c295,c15,c101,c188,c146,c...","w8646,w2744,w1462,w9,w54,w138,w54,w50,w110,w14...",NaN,NaN
4,-6719100304248915192,"c190,c147,c105,c219,c220,c101,c647,c219,c220,c...","w380,w54,w674,w133,w54,w134,w614,w54,w929,w307...","c644,c1212,c253,c199,c431,c452,c424,c207,c2,c1...","w4821,w1301,w16003,w928,w1961,w2565,w50803,w11..."

### 两种转list的方法，速度差的不是一点儿半点儿

In [9]:
start_time = time.time()

df_questions['wt_list'] = df_questions.wt.apply(split)

print('time cost:', time.time() - start_time)

start_time = time.time()

ddf_questions['wt_list'] = ddf_questions.wt.apply(split)

print('time cost:', time.time() - start_time)

time cost: 0.8648364543914795
time cost: 0.002998828887939453

C:\Users\liuye\Anaconda3\lib\site-packages\dask\dataframe\core.py:1600: UserWarning: `meta` is not specified, inferred from partial data. Please provide `meta` if the result is unexpected.
  Before: .apply(func)
  After:  .apply(func, meta={'x': 'f8', 'y': 'f8'}) for dataframe result
  or:     .apply(func, meta=('x', 'f8'))            for series result
  warnings.warn(msg)

In [10]:
start_time = time.time()

df_questions['wd_list'] = df_questions.wd.apply(split)

print('time cost:', time.time() - start_time)

start_time = time.time()

ddf_questions['wd_list'] = ddf_questions.wd.apply(split)

print('time cost:', time.time() - start_time)

time cost: 2.20782732963562
time cost: 0.001997709274291992

C:\Users\liuye\Anaconda3\lib\site-packages\dask\dataframe\core.py:1600: UserWarning: `meta` is not specified, inferred from partial data. Please provide `meta` if the result is unexpected.
  Before: .apply(func)
  After:  .apply(func, meta={'x': 'f8', 'y': 'f8'}) for dataframe result
  or:     .apply(func, meta=('x', 'f8'))            for series result
  warnings.warn(msg)

In [11]:
start_time = time.time()
df_questions['bag_of_words'] = df_questions.apply(lambda x : x['wt_list'] + x['wd_list'], axis = 1)
print('time cost:', time.time() - start_time)

time cost: 9.607444763183594

In [12]:
start_time = time.time()
ddf_questions['bag_of_words'] = ddf_questions.apply(lambda x : x['wt_list'] + x['wd_list'], axis = 1)
print('time cost:', time.time() - start_time)

time cost: 0.005997180938720703

C:\Users\liuye\Anaconda3\lib\site-packages\dask\dataframe\core.py:2207: UserWarning: `meta` is not specified, inferred from partial data. Please provide `meta` if the result is unexpected.
  Before: .apply(func)
  After:  .apply(func, meta={'x': 'f8', 'y': 'f8'}) for dataframe result
  or:     .apply(func, meta=('x', 'f8'))            for series result
  warnings.warn(msg)

In [13]:
ddf_questions.head(5)

,question_id,ct,wt,cd,wd,wt_list,wd_list,bag_of_words
0,6555699376639805223,"c324,c39,c40,c155,c180,c180,c181,c17,c4,c1153,...","w305,w13549,w22752,w11,w7225,w2565,w1106,w16,w...","c335,c101,c611,c189,c97,c144,c147,c101,c15,c76...","w231,w54,w1681,w54,w11506,w5714,w7,w54,w744,w1...","[w305, w13549, w22752, w11, w7225, w2565, w110...","[w231, w54, w1681, w54, w11506, w5714, w7, w54...","[w305, w13549, w22752, w11, w7225, w2565, w110..."
1,2887834264226772863,"c44,c110,c101,c286,c106,c150,c101,c892,c632,c1...","w377,w54,w285,w57,w349,w54,w108215,w6,w47986,w...","c1265,c518,c74,c131,c274,c57,c768,c769,c368,c3...","w12508,w1380,w72,w27045,w276,w111","[w377, w54, w285, w57, w349, w54, w108215, w6,...","[w12508, w1380, w72, w27045, w276, w111]","[w377, w54, w285, w57, w349, w54, w108215, w6,..."
2,-2687466858632038806,"c15,c768,c769,c1363,c650,c1218,c2361,c11,c90,c...","w875,w15450,w42394,w15863,w6,w95421,w25,w803,w...","c693,c100,c279,c99,c189,c532,c101,c189,c145,c1...","w140340,w54,w48398,w54,w140341,w54,w12856,w54,...","[w875, w15450, w42394, w15863, w6, w95421, w25...","[w140340, w54, w48398, w54, w140341, w54, w128...","[w875, w15450, w42394, w15863, w6, w95421, w25..."
3,-5698296155734268,"c473,c1528,c528,c428,c295,c15,c101,c188,c146,c...","w8646,w2744,w1462,w9,w54,w138,w54,w50,w110,w14...",NaN,NaN,"[w8646, w2744, w1462, w9, w54, w138, w54, w50,...",[],"[w8646, w2744, w1462, w9, w54, w138, w54, w50,..."
4,-6719100304248915192,"c190,c147,c105,c219,c220,c101,c647,c219,c220,c...","w380,w54,w674,w133,w54,w134,w614,w54,w929,w307...","c644,c1212,c253,c199,c431,c452,c424,c207,c2,c1...","w4821,w1301,w16003,w928,w1961,w2565,w50803,w11...","[w380, w54, w674, w133, w54, w134, w614, w54, ...","[w4821, w1301, w16003, w928, w1961, w2565, w50...","[w380, w54, w674, w133, w54, w134, w614, w54, ..."

In [14]:
start_time = time.time()
df=df_questions[['question_id', 'bag_of_words']]
df.to_pickle(data_path+'question_words_bag.pickle')
print('time cost:', time.time() - start_time)

time cost: 10.140463590621948

### Remove all dataframe

In [15]:
start_time = time.time()
del df
del df_questions
gc.collect()
print('time cost:', time.time() - start_time)

time cost: 1.772684097290039

### Reload data

Can we load the data to dask directly?

In [16]:
start_time = time.time()
df_bag=pd.read_pickle(data_path+'question_words_bag.pickle')
print('time cost:', time.time() - start_time)
print('End time:', time.time())

time cost: 3.7484612464904785
End time: 1497736993.767359

In [17]:
df_bag.head(5)

           question_id                                       bag_of_words
0  6555699376639805223  [w305, w13549, w22752, w11, w7225, w2565, w110...
1  2887834264226772863  [w377, w54, w285, w57, w349, w54, w108215, w6,...
2 -2687466858632038806  [w875, w15450, w42394, w15863, w6, w95421, w25...
3    -5698296155734268  [w8646, w2744, w1462, w9, w54, w138, w54, w50,...
4 -6719100304248915192  [w380, w54, w674, w133, w54, w134, w614, w54, ...

下面这一步很不可思议，只用了5秒多就统计好了全部数据

In [18]:
start_time = time.time()
df_bag['wt_counter'] = df_bag.bag_of_words.apply(Counter)
print('time cost:', time.time() - start_time)

df_bag.head(5)

time cost: 5.386658668518066

,question_id,bag_of_words,wt_counter
0,6555699376639805223,"[w305, w13549, w22752, w11, w7225, w2565, w110...","{'w5714': 1, 'w11506': 1, 'w11': 2, 'w111': 3,..."
1,2887834264226772863,"[w377, w54, w285, w57, w349, w54, w108215, w6,...","{'w1380': 1, 'w21790': 1, 'w500': 1, 'w111': 2..."
2,-2687466858632038806,"[w875, w15450, w42394, w15863, w6, w95421, w25...","{'w12856': 1, 'w362': 1, 'w140340': 1, 'w14034..."
3,-5698296155734268,"[w8646, w2744, w1462, w9, w54, w138, w54, w50,...","{'w9': 1, 'w359': 1, 'w6': 1, 'w111': 2, 'w212..."
4,-6719100304248915192,"[w380, w54, w674, w133, w54, w134, w614, w54, ...","{'w11': 1, 'w111': 2, 'w614': 1, 'w674': 1, 'w..."

In [19]:
df_bag.wt_counter.loc[0]

Counter({'w1019': 1,
         'w1042': 1,
         'w109': 1,
         'w11': 2,
         'w1106': 1,
         'w111': 3,
         'w1110': 1,
         'w11506': 1,
         'w1166': 1,
         'w13549': 1,
         'w16': 1,
         'w1681': 1,
         'w22752': 1,
         'w23': 1,
         'w231': 1,
         'w25': 1,
         'w2565': 1,
         'w26377': 1,
         'w305': 1,
         'w31389': 1,
         'w3332': 1,
         'w37031': 1,
         'w54': 6,
         'w5714': 1,
         'w6': 2,
         'w69288': 1,
         'w7': 1,
         'w7225': 1,
         'w744': 2,
         'w7734': 1,
         'w9': 1})

## Count Occurancy of a word that occurs in a question, including description and title

In [20]:
def CountWords(row):
    for w in row:
        if w not in word_dict.keys():
            word_dict[w] = 1
        else:
            word_dict[w] += 1
    return
word_dict = {}
#word_dict = dict.fromset
start_time = time.time()
_ = df_bag.bag_of_words.apply(CountWords)
print('time cost:', time.time() - start_time)

print(len(word_dict))

time cost: 6.47197413444519
248913

## 计算逆文本频率指数 IDF

$$ IDF = log(\frac{D}{D_w}) $$

D： 所有的Question的总数

Dw：词 w 出现在Dw 篇文章中

比如 的 几乎出现在所有的问题中，其IDF 就几乎为零。

秒执行

In [1]:
D

NameError: name 'D' is not defined

In [21]:
idf_dict={}
D = len(df_bag)
for k,v in word_dict.items():
    idf_dict[k] = np.log2(float(D)/v)

In [22]:
idf_dict

{'w13705': 14.83203289577326,
 'w458539': 18.416995396494414,
 'w145530': 11.510104800885896,
 'w212506': 16.416995396494414,
 'w198170': 16.83203289577326,
 'w156584': 18.416995396494414,
 'w263176': 18.416995396494414,
 'w199125': 16.83203289577326,
 'w148987': 16.83203289577326,
 'w22973': 16.83203289577326,
 'w164644': 18.416995396494414,
 'w191587': 18.416995396494414,
 'w126082': 11.267248276989733,
 'w12035': 13.462799086107541,
 'w420307': 18.416995396494414,
 'w55663': 13.510104800885896,
 'w433135': 18.416995396494414,
 'w16959': 16.83203289577326,
 'w203859': 17.416995396494414,
 'w95712': 13.059443391876332,
 'w12924': 15.83203289577326,
 'w159814': 13.510104800885896,
 'w33493': 9.3137075880823943,
 'w153290': 12.394627583465962,
 'w50646': 15.416995396494416,
 'w99107': 14.024677973715656,
 'w50444': 18.416995396494414,
 'w156782': 15.609640474436812,
 'w191635': 17.416995396494414,
 'w81033': 16.83203289577326,
 'w207208': 15.095067301607054,
 'w189615': 18.416995396494414,
 'w310547': 16.83203289577326,
 'w228016': 18.416995396494414,
 'w3585': 7.7976924410787296,
 'w73829': 15.247070395052104,
 'w239124': 18.416995396494414,
 'w269860': 18.416995396494414,
 'w34728': 16.83203289577326,
 'w371465': 18.416995396494414,
 'w173300': 16.095067301607052,
 'w350975': 16.83203289577326,
 'w183748': 17.416995396494414,
 'w239862': 15.609640474436812,
 'w330197': 18.416995396494414,
 'w100182': 14.169067883050831,
 'w261151': 17.416995396494414,
 'w314815': 18.416995396494414,
 'w117013': 16.095067301607052,
 'w300143': 18.416995396494414,
 'w164559': 17.416995396494414,
 'w24224': 11.675528410093269,
 'w68395': 9.1549005511242374,
 'w265315': 16.83203289577326,
 'w107171': 18.416995396494414,
 'w196472': 17.416995396494414,
 'w226390': 17.416995396494414,
 'w340730': 17.416995396494414,
 'w53507': 13.416995396494416,
 'w51120': 18.416995396494414,
 'w87489': 13.893433440437404,
 'w145209': 18.416995396494414,
 'w186666': 17.416995396494414,
 'w84235': 15.609640474436812,
 'w73880': 15.416995396494416,
 'w89189': 18.416995396494414,
 'w203753': 13.207542030865467,
 'w165510': 12.510104800885896,
 'w7016': 14.329532555244077,
 'w194590': 17.416995396494414,
 'w25376': 11.584105382329675,
 'w9523': 10.854752972273344,
 'w228529': 18.416995396494414,
 'w23885': 10.69589620778723,
 'w204310': 17.416995396494414,
 'w72090': 16.416995396494414,
 'w255155': 18.416995396494414,
 'w193409': 16.095067301607052,
 'w143318': 11.227170837614398,
 'w24393': 16.095067301607052,
 'w325944': 18.416995396494414,
 'w237844': 18.416995396494414,
 'w177402': 14.716555678353323,
 'w58806': 18.416995396494414,
 'w110598': 16.416995396494414,
 'w26467': 13.372601277135962,
 'w126763': 15.247070395052104,
 'w193533': 16.83203289577326,
 'w2263': 13.247070395052104,
 'w210991': 18.416995396494414,
 'w830': 2.1370765492069475,
 'w23910': 15.416995396494416,
 'w199639': 15.83203289577326,
 'w263788': 17.416995396494414,
 'w358597': 18.416995396494414,
 'w439223': 16.416995396494414,
 'w259746': 17.416995396494414,
 'w2601': 11.990730641792318,
 'w375858': 17.416995396494414,
 'w43378': 16.83203289577326,
 'w76480': 15.609640474436812,
 'w231239': 14.95756377785712,
 'w126242': 16.83203289577326,
 'w44553': 17.416995396494414,
 'w300725': 18.416995396494414,
 'w426940': 18.416995396494414,
 'w237982': 18.416995396494414,
 'w13352': 15.416995396494416,
 'w58064': 14.716555678353323,
 'w53976': 17.416995396494414,
 'w398926': 18.416995396494414,
 'w387219': 16.83203289577326,
 'w19895': 11.140870991220178,
 'w207672': 17.416995396494414,
 'w181925': 14.83203289577326,
 'w116760': 16.83203289577326,
 'w175447': 17.416995396494414,
 'w316003': 18.416995396494414,
 'w69255': 15.095067301607054,
 'w172250': 18.416995396494414,
 'w14341': 11.893433440437404,
 'w58188': 13.609640474436812,
 'w179735': 18.416995396494414,
 'w398560': 18.416995396494414,
 'w215587': 18.416995396494414,
 'w38113': 14.716555678353323,
 'w192046': 14.95756377785712,
 'w185388': 18.416995396494414,
 'w109965': 13.893433440437404,
 'w223665': 16.83203289577326,
 'w261661': 15.609640474436812,
 'w181702': 16.416995396494414,
 'w1374': 3.4760395208829005,
 'w57109': 15.247070395052104,
 'w338990': 16.416995396494414,
 'w169054': 14.716555678353323,
 'w235125': 16.83203289577326,
 'w158162': 18.416995396494414,
 'w13412': 16.416995396494414,
 'w231189': 15.83203289577326,
 'w204130': 18.416995396494414,
 'w173219': 15.247070395052104,
 'w331408': 18.416995396494414,
 'w50212': 16.83203289577326,
 'w190674': 13.83203289577326,
 'w162672': 15.609640474436812,
 'w324635': 18.416995396494414,
 'w47012': 12.059443391876332,
 'w241928': 18.416995396494414,
 'w185306': 15.416995396494416,
 'w230878': 18.416995396494414,
 'w416682': 17.416995396494414,
 'w198628': 16.83203289577326,
 'w339493': 18.416995396494414,
 'w303884': 18.416995396494414,
 'w349841': 18.416995396494414,
 'w82107': 18.416995396494414,
 'w200314': 13.893433440437404,
 'w94358': 18.416995396494414,
 'w189495': 17.416995396494414,
 'w257557': 15.83203289577326,
 'w148306': 12.510104800885896,
 'w235870': 15.416995396494416,
 'w328678': 16.416995396494414,
 'w332462': 18.416995396494414,
 'w210686': 13.83203289577326,
 'w87672': 14.510104800885896,
 'w33021': 13.416995396494416,
 'w418356': 18.416995396494414,
 'w278193': 18.416995396494414,
 'w161333': 16.83203289577326,
 'w147414': 11.57150534555004,
 'w73188': 16.83203289577326,
 'w246386': 18.416995396494414,
 'w218455': 18.416995396494414,
 'w108493': 15.416995396494416,
 'w176066': 17.416995396494414,
 'w241563': 15.416995396494416,
 'w111673': 12.394627583465962,
 'w200157': 17.416995396494414,
 'w252785': 16.416995396494414,
 'w411759': 18.416995396494414,
 'w408245': 18.416995396494414,
 'w209310': 16.095067301607052,
 'w214440': 17.416995396494414,
 'w9938': 12.635635682969756,
 'w233068': 18.416995396494414,
 'w256992': 17.416995396494414,
 'w127525': 16.83203289577326,
 'w277168': 16.83203289577326,
 'w26629': 13.893433440437404,
 'w68980': 14.329532555244077,
 'w456041': 16.416995396494414,
 'w310605': 17.416995396494414,
 'w322875': 17.416995396494414,
 'w170457': 18.416995396494414,
 'w240472': 17.416995396494414,
 'w183908': 16.416995396494414,
 'w168428': 16.83203289577326,
 'w44502': 11.394627583465962,
 'w129514': 16.83203289577326,
 'w161756': 12.024677973715656,
 'w67605': 17.416995396494414,
 'w133501': 18.416995396494414,
 'w93178': 12.372601277135962,
 'w46905': 10.79494357703804,
 'w25179': 10.965784284662087,
 'w353810': 18.416995396494414,
 'w299313': 17.416995396494414,
 'w139716': 18.416995396494414,
 'w34505': 10.716555678353323,
 'w51058': 8.6080312215751551,
 'w180112': 15.247070395052104,
 'w265122': 16.095067301607052,
 'w154317': 12.689074941931217,
 'w280466': 17.416995396494414,
 'w205032': 16.83203289577326,
 'w253858': 16.416995396494414,
 'w188246': 14.095067301607054,
 'w324347': 18.416995396494414,
 'w160226': 14.95756377785712,
 'w40121': 14.83203289577326,
 'w96960': 17.416995396494414,
 'w8087': 10.329532555244077,
 'w51126': 16.095067301607052,
 'w34692': 15.247070395052104,
 'w32898': 13.416995396494416,
 'w7404': 15.247070395052104,
 'w240185': 16.83203289577326,
 'w371559': 17.416995396494414,
 'w216977': 18.416995396494414,
 'w157795': 18.416995396494414,
 'w429646': 18.416995396494414,
 'w190052': 18.416995396494414,
 'w286209': 18.416995396494414,
 'w116099': 15.83203289577326,
 'w81654': 14.83203289577326,
 'w28875': 9.6789031368739256,
 'w370323': 18.416995396494414,
 'w311577': 17.416995396494414,
 'w270445': 14.609640474436812,
 'w1328': 11.361712960993227,
 'w134310': 16.095067301607052,
 'w290970': 18.416995396494414,
 'w238983': 18.416995396494414,
 'w196365': 18.416995396494414,
 'w448822': 18.416995396494414,
 'w270940': 18.416995396494414,
 'w348142': 18.416995396494414,
 'w28606': 12.893433440437404,
 'w137154': 16.83203289577326,
 'w210492': 16.83203289577326,
 'w432697': 18.416995396494414,
 'w99009': 14.716555678353323,
 'w189713': 14.416995396494416,
 'w107065': 15.609640474436812,
 'w417050': 18.416995396494414,
 'w10937': 13.372601277135962,
 'w128456': 16.095067301607052,
 'w254184': 18.416995396494414,
 'w358238': 18.416995396494414,
 'w231168': 18.416995396494414,
 'w79652': 12.92514230016474,
 'w321158': 16.83203289577326,
 'w511': 11.95756377785712,
 'w43598': 15.83203289577326,
 'w14714': 10.57150534555004,
 'w230825': 17.416995396494414,
 'w158379': 18.416995396494414,
 'w248543': 16.83203289577326,
 'w94501': 18.416995396494414,
 'w38736': 10.131593177632167,
 'w40682': 7.1097945873536066,
 'w93602': 17.416995396494414,
 'w435003': 18.416995396494414,
 'w259699': 17.416995396494414,
 'w170293': 14.716555678353323,
 'w150199': 17.416995396494414,
 'w203642': 17.416995396494414,
 'w155809': 16.416995396494414,
 'w186913': 16.83203289577326,
 'w22852': 15.416995396494416,
 'w187978': 18.416995396494414,
 'w210843': 17.416995396494414,
 'w68443': 11.622579530144311,
 'w130254': 18.416995396494414,
 'w189990': 13.372601277135962,
 'w67644': 16.83203289577326,
 'w60695': 14.169067883050831,
 'w63462': 15.247070395052104,
 'w135693': 13.893433440437404,
 'w25474': 14.510104800885896,
 'w287554': 18.416995396494414,
 'w81181': 15.83203289577326,
 'w18299': 14.716555678353323,
 'w14061': 12.4397154729945,
 'w296715': 18.416995396494414,
 'w187781': 14.095067301607054,
 'w196707': 13.287712379549449,
 'w206019': 16.83203289577326,
 'w234629': 17.416995396494414,
 'w33920': 15.247070395052104,
 'w375545': 16.83203289577326,
 'w203565': 18.416995396494414,
 'w154757': 12.689074941931217,
 'w35334': 12.188176705998535,
 'w13961': 14.169067883050831,
 'w198962': 18.416995396494414,
 'w67582': 18.416995396494414,
 'w120631': 18.416995396494414,
 'w227581': 17.416995396494414,
 'w436299': 18.416995396494414,
 'w348683': 17.416995396494414,
 'w129271': 17.416995396494414,
 'w12780': 16.095067301607052,
 'w35990': 11.113214648317314,
 'w76499': 16.83203289577326,
 'w91716': 15.416995396494416,
 'w228768': 16.83203289577326,
 'w338628': 18.416995396494414,
 'w259850': 16.83203289577326,
 'w316223': 17.416995396494414,
 'w120733': 17.416995396494414,
 'w182117': 14.416995396494416,
 'w372563': 18.416995396494414,
 'w168305': 14.416995396494416,
 'w53941': 18.416995396494414,
 'w254981': 15.83203289577326,
 'w19013': 11.702749878828293,
 'w206548': 16.416995396494414,
 'w266202': 18.416995396494414,
 'w375220': 18.416995396494414,
 'w109539': 18.416995396494414,
 'w3847': 14.95756377785712,
 'w130651': 17.416995396494414,
 'w123955': 15.247070395052104,
 'w38780': 12.267248276989733,
 'w111075': 17.416995396494414,
 'w162744': 18.416995396494414,
 'w291560': 17.416995396494414,
 'w16566': 6.0468529169990175,
 'w416772': 18.416995396494414,
 'w213846': 15.247070395052104,
 'w173923': 18.416995396494414,
 'w171325': 15.095067301607054,
 'w189692': 15.83203289577326,
 'w1401': 16.416995396494414,
 'w350262': 15.609640474436812,
 'w19199': 16.095067301607052,
 'w208803': 16.416995396494414,
 'w269786': 17.416995396494414,
 'w224808': 15.83203289577326,
 'w96895': 18.416995396494414,
 'w72637': 15.83203289577326,
 'w82476': 11.178590657169337,
 'w452583': 18.416995396494414,
 'w270627': 18.416995396494414,
 'w151457': 15.247070395052104,
 'w370154': 18.416995396494414,
 'w319287': 16.416995396494414,
 'w232308': 18.416995396494414,
 'w213439': 18.416995396494414,
 'w171642': 16.83203289577326,
 'w137168': 18.416995396494414,
 'w329900': 18.416995396494414,
 'w169294': 18.416995396494414,
 'w287576': 18.416995396494414,
 'w399906': 18.416995396494414,
 'w233876': 17.416995396494414,
 'w438434': 18.416995396494414,
 'w108990': 17.416995396494414,
 'w181284': 16.416995396494414,
 'w6555': 13.169067883050831,
 'w246178': 18.416995396494414,
 'w430931': 18.416995396494414,
 'w459138': 17.416995396494414,
 'w267169': 16.83203289577326,
 'w261357': 15.247070395052104,
 'w73161': 13.716555678353323,
 'w211198': 17.416995396494414,
 'w240327': 18.416995396494414,
 'w402667': 18.416995396494414,
 'w53031': 14.609640474436812,
 'w60664': 13.207542030865467,
 'w248225': 18.416995396494414,
 'w80878': 17.416995396494414,
 'w57631': 13.716555678353323,
 'w93750': 15.095067301607054,
 'w15670': 10.877836585386385,
 'w133325': 17.416995396494414,
 'w416512': 17.416995396494414,
 'w155375': 16.83203289577326,
 'w233812': 18.416995396494414,
 'w307752': 17.416995396494414,
 'w173500': 13.247070395052104,
 'w155409': 16.83203289577326,
 'w167015': 16.83203289577326,
 'w215743': 15.416995396494416,
 'w156637': 18.416995396494414,
 'w89458': 14.510104800885896,
 'w95011': 14.024677973715656,
 'w11893': 14.024677973715656,
 'w24714': 13.169067883050831,
 'w37752': 18.416995396494414,
 'w161248': 16.095067301607052,
 'w232462': 18.416995396494414,
 'w226715': 16.83203289577326,
 'w203911': 18.416995396494414,
 'w123499': 14.510104800885896,
 'w154925': 14.329532555244077,
 'w204812': 17.416995396494414,
 'w173862': 16.095067301607052,
 'w446844': 18.416995396494414,
 'w45346': 16.095067301607052,
 'w214439': 17.416995396494414,
 'w148083': 13.059443391876332,
 'w203401': 18.416995396494414,
 'w130153': 18.416995396494414,
 'w210948': 16.83203289577326,
 'w223760': 17.416995396494414,
 'w185935': 15.416995396494416,
 'w299360': 17.416995396494414,
 'w2619': 12.92514230016474,
 'w301934': 16.83203289577326,
 'w147896': 18.416995396494414,
 'w260112': 18.416995396494414,
 'w55419': 15.095067301607054,
 'w159776': 16.83203289577326,
 'w193195': 16.416995396494414,
 'w162968': 16.095067301607052,
 'w68747': 16.095067301607052,
 'w71480': 11.716555678353323,
 'w282820': 18.416995396494414,
 'w284960': 16.83203289577326,
 'w223045': 15.247070395052104,
 'w86700': 18.416995396494414,
 'w223847': 18.416995396494414,
 'w65194': 15.83203289577326,
 'w41390': 14.329532555244077,
 'w460767': 18.416995396494414,
 'w349480': 18.416995396494414,
 'w68136': 16.83203289577326,
 'w343852': 18.416995396494414,
 'w6379': 16.095067301607052,
 'w285496': 16.83203289577326,
 'w271337': 18.416995396494414,
 'w380644': 18.416995396494414,
 'w260043': 15.416995396494416,
 'w28259': 15.83203289577326,
 'w173874': 18.416995396494414,
 'w168766': 16.416995396494414,
 'w389064': 18.416995396494414,
 'w59554': 17.416995396494414,
 'w193339': 16.416995396494414,
 'w74249': 11.90920075629572,
 'w195234': 16.416995396494414,
 'w369330': 18.416995396494414,
 'w44934': 13.95756377785712,
 'w145193': 10.765943705315488,
 'w28626': 11.546630676911011,
 'w427843': 18.416995396494414,
 'w337592': 18.416995396494414,
 'w308001': 18.416995396494414,
 'w19706': 11.197826876032254,
 'w92644': 11.893433440437404,
 'w288102': 18.416995396494414,
 'w78403': 15.609640474436812,
 'w388090': 18.416995396494414,
 'w53119': 16.416995396494414,
 'w15968': 11.862406544816778,
 'w250276': 15.83203289577326,
 'w371637': 18.416995396494414,
 'w344326': 18.416995396494414,
 'w191357': 15.095067301607054,
 'w328905': 18.416995396494414,
 'w11138': 14.609640474436812,
 'w179076': 15.416995396494416,
 'w341205': 18.416995396494414,
 'w49580': 18.416995396494414,
 'w33088': 13.024677973715656,
 'w61504': 18.416995396494414,
 'w156198': 14.95756377785712,
 'w431795': 18.416995396494414,
 'w181828': 16.095067301607052,
 'w154699': 14.024677973715656,
 'w47804': 12.95756377785712,
 'w335944': 18.416995396494414,
 'w116907': 16.83203289577326,
 'w223245': 16.83203289577326,
 'w32283': 12.372601277135962,
 'w292117': 17.416995396494414,
 'w37919': 13.095067301607054,
 'w101642': 11.974051900645687,
 'w204279': 15.83203289577326,
 'w316828': 18.416995396494414,
 'w210784': 13.329532555244077,
 'w270850': 18.416995396494414,
 'w51773': 17.416995396494414,
 'w160033': 14.024677973715656,
 'w176793': 16.095067301607052,
 'w415101': 18.416995396494414,
 'w321478': 18.416995396494414,
 'w393498': 18.416995396494414,
 'w62302': 16.095067301607052,
 'w54184': 12.802285552379209,
 'w302515': 17.416995396494414,
 'w96321': 15.416995396494416,
 'w142414': 13.95756377785712,
 'w66178': 16.095067301607052,
 'w31894': 12.287712379549449,
 'w75017': 18.416995396494414,
 'w131425': 9.3032532304452271,
 'w273196': 18.416995396494414,
 'w142771': 15.83203289577326,
 'w395357': 16.83203289577326,
 'w211069': 16.83203289577326,
 'w139253': 18.416995396494414,
 'w212925': 17.416995396494414,
 'w341222': 17.416995396494414,
 'w125078': 12.862406544816778,
 'w396688': 18.416995396494414,
 'w197558': 16.095067301607052,
 'w269287': 18.416995396494414,
 'w98478': 14.247070395052104,
 'w13082': 13.95756377785712,
 'w215738': 18.416995396494414,
 'w49893': 16.416995396494414,
 'w400950': 17.416995396494414,
 'w6213': 14.329532555244077,
 'w231860': 18.416995396494414,
 'w104499': 15.416995396494416,
 'w25171': 11.802285552379209,
 'w324890': 16.095067301607052,
 'w255431': 17.416995396494414,
 'w355126': 18.416995396494414,
 'w442679': 18.416995396494414,
 'w140983': 13.95756377785712,
 'w242496': 18.416995396494414,
 'w263615': 18.416995396494414,
 'w165145': 16.416995396494414,
 'w21903': 17.416995396494414,
 'w44493': 14.716555678353323,
 'w198933': 14.83203289577326,
 'w152642': 13.662107894330948,
 'w368240': 18.416995396494414,
 'w121694': 15.83203289577326,
 'w147881': 13.559014401366843,
 'w425436': 17.416995396494414,
 'w34519': 14.95756377785712,
 'w347851': 16.095067301607052,
 'w83728': 12.227170837614398,
 'w179765': 16.416995396494414,
 'w443965': 18.416995396494414,
 'w88404': 11.416995396494416,
 'w79229': 15.095067301607054,
 'w351839': 18.416995396494414,
 'w108846': 12.113214648317314,
 'w242478': 17.416995396494414,
 'w4223': 12.716555678353323,
 'w25629': 12.744570054522921,
 'w217354': 17.416995396494414,
 'w239940': 16.416995396494414,
 'w56738': 15.609640474436812,
 'w17881': 11.675528410093269,
 'w104971': 12.227170837614398,
 'w179950': 16.095067301607052,
 'w379144': 18.416995396494414,
 'w328924': 15.83203289577326,
 'w350236': 18.416995396494414,
 'w379583': 18.416995396494414,
 'w451102': 18.416995396494414,
 'w317114': 17.416995396494414,
 'w270703': 18.416995396494414,
 'w47355': 16.83203289577326,
 'w177253': 16.83203289577326,
 'w247560': 18.416995396494414,
 'w394044': 18.416995396494414,
 'w415407': 18.416995396494414,
 'w402146': 18.416995396494414,
 'w150818': 15.609640474436812,
 'w16868': 18.416995396494414,
 'w1405': 7.3169901720716952,
 'w91959': 13.716555678353323,
 'w75413': 14.609640474436812,
 'w87471': 14.95756377785712,
 'w13749': 9.6389182669590578,
 'w145500': 13.95756377785712,
 'w277456': 18.416995396494414,
 'w423821': 18.416995396494414,
 'w98918': 15.83203289577326,
 'w19684': 13.510104800885896,
 'w21523': 13.510104800885896,
 'w69856': 17.416995396494414,
 'w329730': 18.416995396494414,
 'w99103': 13.95756377785712,
 'w171727': 15.83203289577326,
 'w123505': 10.063848570996333,
 'w241442': 15.416995396494416,
 'w401153': 18.416995396494414,
 'w114591': 15.247070395052104,
 'w151009': 10.361712960993227,
 'w334382': 18.416995396494414,
 'w290307': 18.416995396494414,
 'w132640': 14.510104800885896,
 'w71979': 14.247070395052104,
 'w204740': 16.83203289577326,
 'w170536': 14.416995396494416,
 'w234317': 18.416995396494414,
 'w319039': 18.416995396494414,
 'w230222': 18.416995396494414,
 'w163622': 17.416995396494414,
 'w367711': 15.83203289577326,
 'w143738': 16.83203289577326,
 'w337817': 18.416995396494414,
 'w51765': 16.83203289577326,
 'w248498': 17.416995396494414,
 'w181285': 18.416995396494414,
 'w49554': 15.83203289577326,
 'w58259': 14.716555678353323,
 'w51574': 18.416995396494414,
 'w244823': 18.416995396494414,
 'w238021': 16.416995396494414,
 'w220023': 13.95756377785712,
 'w369830': 18.416995396494414,
 'w141405': 14.329532555244077,
 'w192788': 15.83203289577326,
 'w59098': 18.416995396494414,
 'w293340': 18.416995396494414,
 'w153235': 15.83203289577326,
 'w259571': 18.416995396494414,
 'w404534': 18.416995396494414,
 'w187013': 14.329532555244077,
 'w35621': 12.662107894330948,
 'w457232': 18.416995396494414,
 'w435832': 18.416995396494414,

# 根据 TF-IDF 计算 Question与Topic的相关性

$$ TF-IDF = TF_1\cdot IDF_1 + TF_2 \cdot IDF_2 + ... + TF_N \cdot IDF_N $$

TF1: 词1在此Question 出现的频率 $$ TFx = \frac{词_x在此question中出现的次数}{此Question中的总词数}$$ 

此处的词指来自Topic中的词。如Topic为w32,w1234 则计算每一篇文章与W32, w1234的相关性。

用的时候再加载，减少不必要的内存占用

In [23]:
df_topics = pd.read_csv(data_path+'topic_info.txt', header=None, names=['topic_id', 'pid', 'cn', 'wn', 'cd', 'wd'],sep='\t')
df_question_topic = pd.read_csv(data_path+'question_topic_train_set.txt', header=None, names=['question_id', 'topic_id'],sep='\t')

In [24]:
df_topics[df_topics['topic_id'] == 738845194850773558].wd[0]

'w0,w1,w2,w3,w4,w5,w6,w7,w8,w9,w10,w11,w12,w13,w14,w15,w16,w17,w18,w15,w6,w19,w20,w21,w22,w23'

### 数据预处理

1. 在df_bag 中增加一列，包含每一个question的词的总数， 就是下面的 total_word
2. 按照上面处理 question的方法，处理topics, 也要有 wt_counter 与 total_word

#### Adding bag_of_words, wt_counter and total_words to df_topics

In [25]:
def topic_word_bag(row):
    if type(row.wn) == float and type(row.wd) == float:
        return []
    elif type(row.wn) == float:
        return row.wd.split(',')
    elif type(row.wd) == float:
        return row.wn.split(',')
    return (row.wn + ',' + row.wd).split(',') 

df_topics['bag_of_words'] = df_topics.apply(topic_word_bag, axis = 1)

In [26]:
def topic_wt_counter(row):
    d = dict()
    for word in row:
        if word not in d.keys():
            d[word] = 1
        else:
            d[word] += 1
    return d
df_topics['wt_counter'] = df_topics.bag_of_words.apply(topic_wt_counter)

In [27]:
def total_word(row):
    return sum(row.values())
df_topics['total_word'] = df_topics.wt_counter.apply(total_word)

#### Adding total_words to df_bag

In [28]:
df_bag['total_word'] = df_bag.wt_counter.apply(total_word)

In [29]:
def tf_idf(topic_id, question_id):
    index1 = df_topics[df_topics['topic_id'] == topic_id].index[0]
    topic_word = df_topics[df_topics['topic_id'] == topic_id].bag_of_words[index1]

    index2 = df_bag[df_bag['question_id'] == question_id].index[0]
    word_dict = df_bag[df_bag['question_id'] == question_id].wt_counter[index2]

    total_word = df_bag[df_bag['question_id'] == question_id].total_word[index2]

    
    tf_idf_value = 0
    for word in topic_word:
        if word in word_dict:
            tf_idf_value += idf_dict[word]*word_dict[word]/total_word
    return tf_idf_value

In [31]:
tf_idf(-3149765934180654494, 2887834264226772863)

-0.076145875146753028

In [32]:
def split_to_list(row):
    return row.split(',')
df_question_topic['topic_id_list'] = df_question_topic.topic_id.apply(split_to_list)

In [33]:
df_question_topic['topic_count'] = df_question_topic.topic_id_list.apply(len)

In [34]:
sub_df = df_question_topic[df_question_topic['topic_count'] == 1]

In [35]:
sub_df.loc[1][1]

'-3149765934180654494'

In [36]:
def tf_idf2(ser):
    return tf_idf(int(ser.topic_id_list[0]), ser.question_id)

In [37]:
sub_df.head(5)

,question_id,topic_id,topic_id_list,topic_count
1,2887834264226772863,-3149765934180654494,[-3149765934180654494],1
2,-2687466858632038806,-760432988437306018,[-760432988437306018],1
9,3174606710238304130,-4115748438709160582,[-4115748438709160582],1
18,-3679570071031716995,-9176307901497282391,[-9176307901497282391],1
21,6004514913022607006,-8966465280115387956,[-8966465280115387956],1

In [38]:
df_topics[df_topics['topic_id'] == -3149765934180654494]

,topic_id,pid,cn,wn,cd,wd,bag_of_words,wt_counter,total_word
769,-3149765934180654494,-5388067101870430963,"c1487,c378",w17245,"c70,c110,c1216,c1303,c11,c2308,c1201,c212,c378","w10730,w2741,w6,w17246,w17247","[w17245, w10730, w2741, w6, w17246, w17247]","{'w17245': 1, 'w17247': 1, 'w2741': 1, 'w10730...",6

In [39]:
df_topics[ df_topics['topic_id'] == 738845194850773558]

,topic_id,pid,cn,wn,cd,wd,bag_of_words,wt_counter,total_word
0,738845194850773558,-5833678375673307423,"c0,c1",w0,"c0,c1,c2,c3,c4,c5,c6,c7,c0,c1,c8,c9,c10,c11,c1...","w0,w1,w2,w3,w4,w5,w6,w7,w8,w9,w10,w11,w12,w13,...","[w0, w0, w1, w2, w3, w4, w5, w6, w7, w8, w9, w...","{'w9': 1, 'w11': 1, 'w21': 1, 'w17': 1, 'w2': ...",27

In [40]:
print('df_topics[df_topics[\'topic_id\'] == 738845194850773558].wn=', df_topics[df_topics['topic_id'] == 738845194850773558].wn)
print('df_topics[df_topics[\'topic_id\'] == 738845194850773558].wn[0]=', df_topics[df_topics['topic_id'] == 738845194850773558].wn[0])
print()

print('df_topics[df_topics[\'topic_id\'] == -3149765934180654494].wn=', df_topics[df_topics['topic_id'] == -3149765934180654494].wn)
print('df_topics[df_topics[\'topic_id\'] == -3149765934180654494].wn[0]=', df_topics[df_topics['topic_id'] == -3149765934180654494].wn[769])

# why? !!!

df_topics[df_topics['topic_id'] == 738845194850773558].wn= 0    w0
Name: wn, dtype: object
df_topics[df_topics['topic_id'] == 738845194850773558].wn[0]= w0

df_topics[df_topics['topic_id'] == -3149765934180654494].wn= 769    w17245
Name: wn, dtype: object
df_topics[df_topics['topic_id'] == -3149765934180654494].wn[0]= w17245

In [41]:
df_topics[df_topics['topic_id'] == -3149765934180654494].index[0]

769

In [42]:
#tf_idf2(sub_df.loc[1])
print(int(sub_df.loc[1].topic_id_list[0]),sub_df.loc[1].question_id)
tf_idf(-3149765934180654494 ,2887834264226772863)

-3149765934180654494 2887834264226772863

-0.076145875146753028

In [68]:
start_time = time.time()
a = sub_df.head(10000).apply(tf_idf2, axis = 1)
print('time cost:', time.time() - start_time)

time cost: 29.167520999908447

In [65]:
sub_df.head(114900)

,question_id,topic_id,topic_id_list,topic_count
1,2887834264226772863,-3149765934180654494,[-3149765934180654494],1
2,-2687466858632038806,-760432988437306018,[-760432988437306018],1
9,3174606710238304130,-4115748438709160582,[-4115748438709160582],1
18,-3679570071031716995,-9176307901497282391,[-9176307901497282391],1
21,6004514913022607006,-8966465280115387956,[-8966465280115387956],1
23,-6317692530143404667,-4175044003751472418,[-4175044003751472418],1
26,-2335474937104234672,6493581724141198741,[6493581724141198741],1
28,-6473476649740451635,3247902953025099742,[3247902953025099742],1
31,554647747767379078,2460528390051567153,[2460528390051567153],1
32,7964675238481673415,-2288652390863265229,[-2288652390863265229],1
34,8936601607840297591,-4200589112729926854,[-4200589112729926854],1
37,8387056547283166978,-1763510825413002970,[-1763510825413002970],1
39,-1032126113670299025,844641982688873856,[844641982688873856],1
40,-726983769124373967,1149442028819396978,[1149442028819396978],1
41,3971697068586241635,2358602120077680332,[2358602120077680332],1
42,-4410156069340646547,-4530635517516786435,[-4530635517516786435],1
48,1603517824980441299,2620423314205594477,[2620423314205594477],1
55,-5398005758094145195,2478695500618560154,[2478695500618560154],1
58,-3572728431542215473,7256815922327333383,[7256815922327333383],1
59,766192590386506565,5252993787219186549,[5252993787219186549],1
61,-4978352998719283788,-7951567235515055279,[-7951567235515055279],1
64,2205643630145204204,1127459907694805235,[1127459907694805235],1
68,5261028346232605311,-1337962690305221735,[-1337962690305221735],1
73,8567164187067850125,-6583250835532759869,[-6583250835532759869],1
74,-8488468105440012723,-1763510825413002970,[-1763510825413002970],1
76,-573164229104130038,-2366809508980261782,[-2366809508980261782],1
77,-9145433802364796726,-2149884934935655725,[-2149884934935655725],1
79,-1870931873554427294,8671770789948109260,[8671770789948109260],1
81,3716368657565850789,9059610977317352399,[9059610977317352399],1
84,-1373981090745408682,-6118242661945663443,[-6118242661945663443],1
...,...,...,...,...
349928,-2547409446984405081,6929574213890444536,[6929574213890444536],1
349931,412701049875762740,-3061873284528456248,[-3061873284528456248],1
349935,-6741593025286434055,-1287901756552786603,[-1287901756552786603],1
349938,-165045448798080542,-5028991260192797058,[-5028991260192797058],1
349940,-4558525382531990079,3756597728166171300,[3756597728166171300],1
349941,4752755674004385402,-8365788239271014215,[-8365788239271014215],1
349942,6367292361142686266,6569012000551779051,[6569012000551779051],1
349944,-7902960253536736170,-8209651626505353779,[-8209651626505353779],1
349951,-6105431099221649911,2358602120077680332,[2358602120077680332],1
349954,1158785098770799445,4634825204717668542,[4634825204717668542],1
349955,4527041959909091501,1420790574181137744,[1420790574181137744],1
349968,-419569510910120688,-5603787840210684334,[-5603787840210684334],1
349982,1799522704996987275,-1296438675909954008,[-1296438675909954008],1
349983,-6254933874766484446,1033816721290613934,[1033816721290613934],1
349992,4199061269997281807,5195052674759712046,[5195052674759712046],1
349993,3881290304136239025,5860709468180973459,[5860709468180973459],1
350003,5337527309978744352,7820378771178228515,[7820378771178228515],1
350006,7709567333893220268,-7986077887193730895,[-7986077887193730895],1
350011,2564856249723687431,-7496262653600316163,[-7496262653600316163],1
350012,1958654322340850307,-5243683122430849003,[-5243683122430849003],1
350013,-6365993984539519890,5370870069386720811,[5370870069386720811],1
350014,-5781174065141601500,1033816721290613934,[1033816721290613934],1
350025,6366049574406821570,-7865809443640391823,[-7865809443640391823],1
350026,-4207134525186931764,-6209302970466816480,[-6209302970466816480],1
350028,-5693885692798315002,5244246852161070930,[5244246852161070930],1
350036,4438253023824011208,5399048486759263580,[5399048486759263580],1
350038,3906561421984131773,8198062245752130541,[8198062245752130541],1
350048,-2865074665297996140,-7485487238471669174,[-7485487238471669174],1
350049,-336690758043962235,-4379247820452209357,[-4379247820452209357],1
350050,1666419954897568655,-5685149382072526764,[-5685149382072526764],1

In [71]:
a.sort()

C:\Users\liuye\Anaconda3\lib\site-packages\ipykernel\__main__.py:1: FutureWarning: sort is deprecated, use sort_values(inplace=True) for INPLACE sorting
  if __name__ == '__main__':

In [72]:
a

29903   -12.791465
16334    -9.152065
12222    -6.644008
26163    -6.525465
20484    -5.648120
23688    -5.631324
10790    -5.327675
4860     -5.209778
5840     -5.021450
9203     -4.875695
20385    -4.859214
15565    -4.641171
26520    -4.630682
33079    -4.493579
10564    -4.257684
18511    -4.193270
29564    -4.104370
10592    -4.063277
24156    -4.033454
36566    -3.965241
11123    -3.954650
2359     -3.902604
13609    -3.835908
28063    -3.724715
22010    -3.722333
11841    -3.672386
15375    -3.637692
18776    -3.597893
30440    -3.579471
12089    -3.515495
           ...
1673      7.715427
26904     7.996431
11653     8.053217
28309     8.107379
18026     8.161997
10802     8.420521
38257     8.446879
2948      8.466720
18384     8.534985
35527     8.640950
15100     8.650466
17618     9.068033
29607     9.855932
12989     9.862407
39040     9.994931
1449     10.166691
35650    10.172235
36711    10.392527
29837    11.113215
14089    11.711950
19944    11.817373
27867    12.119870
31887    12.200030
4237     14.189611
14674    15.093785
2310     15.173521
3979     15.194529
973      15.486064
20494    20.925598
33917    20.973838
dtype: float64

In [ ]:
sub_df['tf_idf'] = sub_df.apply(tf_idf2, axis = 1)

## 考查TF_IDF的分布情况

### 计算单topic的Question的TF-IDF分布情况

### 计算多topic的Question的TF-IDF分布情况

In [ ]:
# your code here ...

## 分析多Topic时，Topic的位置与TF-IDF的关系

In [ ]:
# your code here ...

## 研究 Topic 继承关系对Topic赋值的影响

## 研究同义词对 Topic赋值的影响